<html>
<head>
  <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> -->
  <link rel="stylesheet" type="text/css" href="../../bootstrap/css/bootstrap.css">
  <link rel="stylesheet" href="../../css/style.css">
  <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> -->
  <script src="../../js/jquery-3.2.1.js"></script>
  <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> -->
  <script src="../../bootstrap/js/bootstrap.js"></script>
</head>
<body>
  <style>
    p{text-align: justify;font-size: 20px;}
    .border-image{border-radius: 10px;margin-top: 20px;margin-bottom: 20px;}
    /*Espaçamento de títulos*/
    .title-space-bottom{margin-top: 30px;margin-bottom: 30px;}
    /*Design Legendas*/
    .title-caption{font-weight: bold;}
    @media only screen and (max-width: 610px){.image-box{display:none;}}
    .noticeMain{color:rgba(155,155,155,.6);}
  </style>
  <!-- Header -->
<nav class="navbar navbar-default " role="navigation">
    <div class="container">
      <div class="navbar-header ">
        <a class="navbar-brand" href="../../index.html">
          <img src="../../images/logomarca.png" style="max-width: 170px;height:40px;margin-top: -10px;">
        </a>
        <a href="../../index.html" class="navbar-brand">Município Sustentável</a>
        <button class="navbar-toggle" data-toggle="collapse" data-target="#navbar-container">
          <span class="sr-only">Mostrar e Esconder Menu</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse" id="navbar-container">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="../../index.html">Início</a></li>

          <li role="presentation" class="dropdown">
            <!-- Título Drodpdown -->
            <a class="dropdown-toggle" data-toggle="dropdown" href="#" >O Município<span class="caret"></span></a>
            <!-- Começo da -->
            <ul class="dropdown-menu item-hover">
              <li><a href="../anexos/maquete.html">Anexos do desenvolvimento do Projeto</a></li>
              <li><a href="../../templates/municipio/strategic.html">Todo o Planejamento Estratégico</a></li>
              <li><a href="../../templates/municipio/the+5w2h.html">Elaboração do projeto</a></li>
              <li><a href="../../templates/municipio/perspectives.html">Perspectivas estruturais do Município</a></li>
              <li><a href="../../templates/municipio/services.html">Serviços</a></li>
            </ul>
          </li>

          <li role="presentation" class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#" >Conceitos<span class="caret"></span></a>
            <ul class="dropdown-menu item-hover">
            <li><a href="../../templates/sustentabilidade/cidades-sustentaveis.html" >Cidades Sustentáveis</a></li>
            <li><a href="../../templates/fontes-energias/introducao.html">Introdutório as fontes de Energia</a></li>
            <li><a href="../../templates/sustentabilidade/sustentabilidade.html">Conceito de Sustentabilidade</a></li>
            </ul>
          </li>
          <li role="presentation" class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#" >Cidades e Fontes de Energia<span class="caret"></span></a>
            <ul class="dropdown-menu item-hover">
            <li ><a href="../../templates/fontes-energias/biomassa.html">Biomassa</a></li>
            <li ><a href="../../templates/fontes-energias/eolica.html">Eólica</a></li>
            <li ><a href="../../templates/fontes-energias/hidreletrica.html">Hidrelétrica</a></li>
            <li ><a href="../../templates/fontes-energias/nuclear.html">Nuclear</a></li>
            <li ><a href="../../templates/fontes-energias/solar.html">Solar</a></li>
          </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  </div>
  <div class="page-wrap">
    <div class="container-fluid box" style="margin-bottom: 25px;">
      <h2 class="titleMain">Cidades Sustentáveis</h2>
      <small>
        <a href="#historic" class="link-scroll link-design">Histórico |</a>
        <a href="#problem" class="link-scroll link-design">Problema | </a>
        <a href="#solution" class="link-scroll link-design">A solução | </a>
        <a href="#conceitual" class="link-scroll link-design">O conceito </a>
      </small>
    </div>

    <div class="container-fluid box">
      <h3 id = "historic" class="subtitle">Histórico</h3>
      <p>Ao longo dos anos da contemporaneidade observou-se um crescimento exponencial da população urbana. De forma que em 2008 pessoas moravam mais na área urbana do que na rural.</p>
      <blockquote>
        <p>As cidades são consideradas centro da civilização contemporânea e da sociedade civil e sempre foram vistas como o locus de inovação e cultura. Foi por meio das cidades e do processo de urbanização que se tornou possível a disseminação de novos ideais e o nascimento de novas relações sociais.</p>
        <footer>M. Polèze no seu livro Economia Urbana e Regional</footer>
      </blockquote>
      <p>Contudo, as cidades urbanas apresentam uma proporção que ao longo dos anos a população rural vem perdendo muito em quantidade em relação à urbana. Pelos dados do IBGE observa-se que em 2030 (seis a cada 10 pessoas da população mundial vivem em cidades); Em 2050 a previsão é que vamos ter dois terços de toda população mundial vivendo em cidades.</p>
    </div>

    <div class="container-fluid box">
      <h3 id = "problem" class="subtitle">Problema</h3>
      <p>Ora, as cidades abrem eixos para ideias, culturas, comércios abundantes, além do crescimento tecnológico que também suscita nelas.</p>
      <p>Entretanto, com o crescimento abundante densidade geográfica (relação da quantidade de pessoas para cada superfície do espaço geográfico), surgem problemas de poluição, segregação e resíduos tóxicos.</p>
      <blockquote>
        <p>Apesar das cidades serem centros de inovação, crescimento econômico, transformação social, saúde e educação, seu crescimento traz para discussão questões sobre aquecimento global, administração de recursos, economia baseada na baixa emissão de carbono e desigualdade social. As cidades requerem soluções inovadoras em seu design, em sua governança e em sua infraes - trutura de investimentos, para que possam responder essas questões de maneira apropriada</p>
        <footer>W. Mitchell e F. Casalegno em Connected Sustainable</footer>
      </blockquote>
      <p>A grande concentração da população mundial nas cidades e o crescente impacto ao meio ambiente, vem despertando cada vez mais, a consciência das empresas e dos governos  a estabelecerem medidas sustentáveis que resultam em melhor qualidade de vida para seus habitantes.</p>
    </div>

    <div class="container-fluid box">
      <h3 id = "solution" class="subtitle">A solução</h3>
      <p>A partir da problemática citada anteriormente. Surge a ideia das cidades sustentáveis que alguns programas internacionais como o Habitat III (Nova Agenda Urbana) dialogam sobre os objetivos de desenvolvimento sustentável da ONU ao propor seus objetivos para tornar um mundo melhor e, assim, sustentável. Cita, assim, o seu décimo primeiro objetivo: “Tornar as cidades e os assentamentos humano inclusivos, seguros, resilientes e sustentáveis”</p>
      <blockquote>
        <p>Toda cidade sustentável se desenvolve a partir de uma ligação adequada, respeitável e ponderada entre o meio ambiente construído e a geografia natural. Portanto, planejar todas as etapas da urbanização é essencial para que a cidade possa ser bem cuidada). Sendo assim, são necessários modelos contemporâneos adequados ao desenvolvimento sustentável, reformula - dos conjuntamente pela atuação pública e privada.</p>
        <footer>C. Leite no seu livro Cidades sustentáveis, Cidades inteligentes: Desenvolvimento sustentável num planeta urbano</footer>
      </blockquote>
      <p>As cidades sustentáveis tomam medidas para evitar utilização inadequada dos imóveis urbanos, o gerenciamento do solo, a edificação ou o uso excessivo ou inadequado em relação à infra-estrutura urbana, a instalação de empreendimentos ou atividades que possam funcionar como pólos geradores de tráfego, a deterioração das áreas urbanizadas; a poluição e a degradação ambiental.</p>
    </div>

    <div class="container-fluid box">
      <h3 id = "conceitual" class="subtitle">O conceito</h3>
      <p>Define-se uma cidade sustentável qual ela respeita uma tríplice que envolve tanto os aspectos sociais como ambientais. Até porque ela deve ser economicamente viável (pois deve haver o equilíbrio da extração da matéria prima e o consumismo mínimo da população); socialmente justas (não deve haver segregação social nas cidades); Por fim, ambientalmente justas (todo e qualquer tipo de poluição não deve existir na cidade sustentável. Seja ela a poluição sonora, ambiental, de resíduos tóxicos ou a emissão exagerada de gás carbônico)</p>
      <p>Outra preocupação das cidades sustentáveis é fazer com que a população faça um uso eficiente e sem desperdícios de água, energia, e sempre usando materiais renováveis. Algumas idéias para facilitar e melhorar o clima no planeta é criar espaços multiuso para evitar desperdícios, colocar tudo num mesmo bairro e incentivar o transporte alternativo, para diminuir a poluição do planeta e melhor o ecossistema mundial.</p>
      <p>Pode-se concluir, então que a cidade sustentável não envolve apenas a ideia ambiental, mas social. De modo que ela se preocupe com os seguintes tópicos: Acesso à habitação segura, acesso à serviços básicos e, por fim, transportes seguros e eficientes.</p>
      <p>Contudo, ninguém deve ser deixado para trás, ou seja, em situações extremas. Dessa forma as cidades sustentáveis devem oferecer apoio à: Vulnerabilidade da população, preocupação com as mulheres, crianças, pessoas com deficiência e idosos.</p>
    </div>
  </div>
  <script src = "../../js/scroll.js"></script>
  <a id="back-to-top" href="#" class="btn  btn-lg back-to-top btn-top" role="button" title="Clique para retornar ao topo" data-toggle="tooltip" data-placement="left" style="transition: .2s all;"><span class="glyphicon glyphicon-chevron-up" style="color:white;"></span></a>  
  <script src="../../js/topage.js"></script>
  <footer class="container-fluid rodape " style="background: rgba(0,0,0,.045); color:#666;text-align: justify;">
      <!-- Linha 1 -->
      <div class="row links">
        <div class="col-sm-12" style="padding: 20px;">
          <small>
            <span class=" glyphicon glyphicon-flag"></span>
            <a href="../../templates/sustentabilidade/sustentabilidade.html" class="linkDesign">Sustentabilidade |</a>
            <a href="../../templates/fontes-energias/solar.html" class="linkDesign">Energia Solar |</a>
            <a href="../../templates/fontes-energias/eolica.html" class="linkDesign">Energia Eólica |</a>
            <a href="../../templates/fontes-energias/biomassa.html" class="linkDesign">Energia da Biomassa |</a>
            <a href="../../templates/fontes-energias/hidreletrica.html" class="linkDesign">Energia Hidrelétrica |</a>
            <a href="../../templates/fontes-energias/nuclear.html" class="linkDesign">Energia Nuclear |</a>
          </small>
          <hr>
        </div>
      </div>
      <!-- Linha2 -->
      <div class="row" style="width:900px; margin: 0 auto">
        <div class="col-sm-6" style="padding: 10px;">
          <p style="font-weight: bold;">Motive-se:</p>
          <p style="border-left: 2px solid rgba(0,0,0,.3);padding:10px;"><i>A base de toda a sustentabilidade é o
              desenvolvimento humano que deve contemplar um melhor relacionamento do homem com os semelhantes e a
              Natureza.</i></p>
          <p style="font-size: 12px;">Essa bela frase foi dita por: <small>Nagib Anderáos Neto</small></p>
          <p style="margin-top: 30px;font-weight: bold;">Município Sustentável e Fontes de Energia</p>
          <small>Clique em algum desses ícones a baixo...</small>
          <br>
          <a href="../../templates/fontes-energias/solar.html" class="linkDesign" title="Energia Solar">
            <img style="height: 50px;margin-top: 15px;margin-bottom: 15px;" src="../../images/icon-solar.png" alt="">
          </a>
  
          <a href="../../templates/fontes-energias/eolica.html" class="linkDesign" title="Energia Eólica">
            <img style="height: 50px;margin-top: 15px;margin-bottom: 15px;margin-left: 10px;" src="../../images/icon-eolic.png"
              alt="">
          </a>
          <a href="../../templates/fontes-energias/biomassa.html" class="linkDesign" title="Biomassa">
            <img style="height: 50px;margin-top: 15px;margin-bottom: 15px;margin-left: 10px;" src="../../images/icon-bio.png"
              alt="">
          </a>
  
          <a href="../../templates/fontes-energias/hidreletrica.html" class="linkDesign" title="Energia Hidrelétrica">
            <img style="height: 50px;margin-top: 15px;margin-bottom: 15px;margin-left: 10px;" src="../../images/icon-water.png"
              alt="">
          </a>
  
          <a href="../../templates/fontes-energias/nuclear.html" class="linkDesign" title="Energia Nuclear">
            <img style="height: 50px;margin-top: 15px;margin-bottom: 15px;margin-left: 10px;" src="../../images/icon-nuclear.png"
              alt="">
          </a>
        </div>
        <div class="col-sm-6 formularioFooter" style="padding: 10px;">
          <p style="margin-top: 10px;font-weight: bold; font-size: 12px;">Instituto Federal de Educação Ciências e
            Tecnologia do Rio Grande do Norte</p>
          <small>Câmpus Natal Zona Norte</small>
          <hr>
          <p style="font-size: 12px;"><b>Compilação do site</b> <br>Amanda Paula, Carlos Vinícius, Davi Sansão, Heloisa
            Ramalho, José Mateus, Júlio Cesar e Raphael Ramos</p>
  
          <p style="font-size: 12px;"><b>Conteúdo</b><br>Todos os que foram envolvidos do segundo periodo acadêmico
            (2017) dos cursos técnicos de Comércio, Eletrônica e Informática para Internet.</p>
        </div>
      </div>
      <!-- Linha 3 Copyright -->
      <div class="row text-center" style="background: #09111d ;padding-top: 10px;padding-bottom: 10px;">
        <div class="col-sm-12">
          <span style="color: #DCDCE2;">Município Sustentável &copy Geografia </span>
        </div>
      </div>
    </footer>
</body>
</html>