<html>
<head>
  <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> -->
  <link rel="stylesheet" type="text/css" href="../../bootstrap/css/bootstrap.css">
  <link rel="stylesheet" href="../../css/style.css">
  <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> -->
  <script src="../../js/jquery-3.2.1.js"></script>
  <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> -->
  <script src="../../bootstrap/js/bootstrap.js"></script>
</head>
<body>
  <style>
    p{text-align: justify;font-size: 20px;}
    .border-image{border-radius: 10px;margin-top: 20px;margin-bottom: 20px;}
    /*Espaçamento de títulos*/
    .title-space-bottom{margin-top: 30px;margin-bottom: 30px;}
    /*Design Legendas*/
    .title-caption{font-weight: bold;}
    @media only screen and (max-width: 610px){.image-box{display:none;}}
    .noticeMain{color:rgba(155,155,155,.6);}
  </style>
  <!-- Header -->
<nav class="navbar navbar-default " role="navigation">
    <div class="container">
      <div class="navbar-header ">
        <a class="navbar-brand" href="../../index.html">
          <img src="../../images/logomarca.png" style="max-width: 170px;height:40px;margin-top: -10px;">
        </a>
        <a href="../../index.html" class="navbar-brand">Município Sustentável</a>
        <button class="navbar-toggle" data-toggle="collapse" data-target="#navbar-container">
          <span class="sr-only">Mostrar e Esconder Menu</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse" id="navbar-container">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="../../index.html">Início</a></li>

          <li role="presentation" class="dropdown">
            <!-- Título Drodpdown -->
            <a class="dropdown-toggle" data-toggle="dropdown" href="#" >O Município<span class="caret"></span></a>
            <!-- Começo da -->
            <ul class="dropdown-menu item-hover">
              <li><a href="../anexos/maquete.html">Anexos do desenvolvimento do Projeto</a></li>
              <li><a href="../../templates/municipio/strategic.html">Todo o Planejamento Estratégico</a></li>
              <li><a href="../../templates/municipio/the+5w2h.html">Elaboração do projeto</a></li>
              <li><a href="../../templates/municipio/perspectives.html">Perspectivas estruturais do Município</a></li>
              <li><a href="../../templates/municipio/services.html">Serviços</a></li>
            </ul>
          </li>

          <li role="presentation" class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#" >Conceitos<span class="caret"></span></a>
            <ul class="dropdown-menu item-hover">
            <li><a href="../../templates/sustentabilidade/cidades-sustentaveis.html" >Cidades Sustentáveis</a></li>
            <li><a href="../../templates/fontes-energias/introducao.html">Introdutório as fontes de Energia</a></li>
            <li><a href="../../templates/sustentabilidade/sustentabilidade.html">Conceito de Sustentabilidade</a></li>
            </ul>
          </li>
          <li role="presentation" class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#" >Cidades e Fontes de Energia<span class="caret"></span></a>
            <ul class="dropdown-menu item-hover">
            <li ><a href="../../templates/fontes-energias/biomassa.html">Biomassa</a></li>
            <li ><a href="../../templates/fontes-energias/eolica.html">Eólica</a></li>
            <li ><a href="../../templates/fontes-energias/hidreletrica.html">Hidrelétrica</a></li>
            <li ><a href="../../templates/fontes-energias/nuclear.html">Nuclear</a></li>
            <li ><a href="../../templates/fontes-energias/solar.html">Solar</a></li>
          </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  </div>
  
  <div class="page-wrap">
    <div class="container-fluid box">
        <div class="jumbotron" style="border-radius:10px;">
          <h2>Perspectivas estruturais do município</h2>
          <blockquote>
            <p>Afinal de contas, o que é um município sem um planejamento estrutural?</p>
          </blockquote>
          <a href="#rural" class="link-scroll link-design"><span class="label label-primary">Zona Rural</span></a>
          <a href="#comercial" class="link-scroll link-design"><span class="label label-primary">Zona Comercial</span></a>
          <a href="#urbana" class="link-scroll link-design"><span class="label label-primary">Zona Urbana</span></a>
          <a href="#industrias" class="link-scroll link-design"><span class="label label-primary">Indústrias</span></a>
          <a href="#polos" class="link-scroll link-design"><span class="label label-primary">Polos industriais e tecnológicos</span></a>
        </div>
    </div>

    <div class="container-fluid box">
      <h3 id="rural" class="subtitle">Zona Rural</h3>
      <p>A zona rural vai agrupar boa parte das energias que serão utilizadas no Municípios, levando isso em consideração o espaço a ser utilizado para a produção agrícola será totalmente planeja e estruturado para que tudo possa fluir de maneira organizada.</p>
      <p>Os produtos produzidos servirão para abastecer o mercado local e exportar para os mercados mais próximos. Através de pesquisas realizadas mediante nosso solo encontramos produtos que se adequarão melhor, entretanto, é importante ressaltar que alguns produtos que não se adequam ao solo, mas se fazem necessários, vão ficar em uma ala especial onde o solo sofrerá modificações e ficará apto para receber sementes de qualquer alimento agrícola.</p>
    </div>

    <div class="container-fluid box">
      <h3 id="urbana" class="subtitle" >Zona Urbana</h3>
      <p>A parte da zona urbana, contará com <b>15.657 mil habitantes</b>, que serão divididos em <b>7.329 moradias</b>, dentre elas: prédios, casas simples, casas nobres.</p>

      <p>No Município, haverá 6 supermercados, 2 teatros, 1 estádio de futebol, 2 hospitais principais, 2 shopping centers. Contaremos com parques arborizados abertos com espaços de lazer, uma costa litorânea cercada por redes hoteleiras, o que atrairá muitos visitantes para a nossa área turística.</p>
      
      <p>Entre as ruas, contaremos com a tecnologia de sistema onde as luzes dos postes só ficarão acesas caso haja algum movimento próximo a elas, paradas que avisam qual ônibus está se aproximando, e um sistema de estacionamento que avise ao motorista, por aplicativo, onde há vagas para estacionar. Em todas as vias, haverá depósitos com sacos plásticos para que sejam recolhidos defecações de animais e a própria sujeira dos cidadãos, e caso o dono não faça isso, será notificado com multa, pois será capturado por todas nossas câmeras que funcionarão 24h contando com um sistema inteligente que capte ações inadequadas e notifique os moradores imediatamente. A cada 1 quilômetro de distância, os moradores poderão encontrar lixeiras adequadas para cada tipo de lixo, sendo possível a realização de coleta seletiva.</p>

      <p>Tudo será extremamente planejado visando não somente o conforto, mas a preocupação com o meio ambiente, levando em consideração que o abastecimento de energia elétrica será com fontes renováveis e não prejudiciais à natureza.</p>
      
      <p>A fonte de energia renovável que visamos é a energia fotovoltaica, onde tomamos como base um bairro alemão, localizado em Freiburg, chamado Solar Ship, onde o mesmo possui 59 residências com painéis fotovoltaicos em seus tetos, 11 mil m² de tamanho e consegue produzir quatro vezes mais do que consome. Tal tecnologia estará não só em residências nobres, mas também nas populares e em prédios.</p>
    </div>

    <div class="container-fluid box">
      <h3 id="comercial" class="subtitle">Zona Comercial</h3>
      <p> A zona comercial irá conter setores estruturados e planejados, como por exemplo, shoppings e centros comerciais. Com base em um planejamento de espaço, chegamos a uma quantidade necessária de conveniências e padarias por cada quarteirão do Município, sendo assim, terá no mínimo uma de cada e no máximo dois estabelecimentos do mesmo tipo por quarteirão, para que os investidores possam lucrar por igual e que nenhum quarteirão fique desfalcado.</p>

      <p>Além disso, cada bairro terá uma avenida comercial, onde a mesma possuirá uma área de alimentação (com lanchonetes, sorveterias, pizzarias e etc.). A avenida irá possuir também lojas de roupa, calçados, cama, mesa e banho para que não seja necessária uma longa distância de locomoção da população. É importante ressaltar também, que boa parte do comércio têxtil será abastecido a partir da produção do meio rural unida a indústria, dessa forma, o produto ficará mais barato e viável financeiramente para todos. Postos de gasolina também terão o seu lugar em cada bairro.</p>

      <p>O Município tem duas zonas principais, onde é o centro empresarial e o centro turístico, ambas terão um shopping e dois mercados de atacado, facilitando assim, o lazer e a mobilidade dos habitantes.
      O centro da cidade irá possuir três avenidas onde o comércio será mais intenso, nessas avenidas terão: restaurantes, deposito de construção, papelarias, joalherias, lojas de eletrodomésticos, móveis, utensílios de cozinha, marcenaria, tecidos e costura, distribuidoras de bebidas, centro de advocacia, agências de viagens e lojas de veículos.</p>
      
      <p>O mesmo possuirá duas grandes indústrias: uma têxtil e outra alimentícia. A têxtil ficará localizada na zona leste e a alimentícia na zona oeste. O Município conta com três grandes hotéis 5 estrelas localizados no litoral, para recepção de novos turistas e lazer de moradores que queiram um tempo de descanso. Além desses três hotéis, também possuímos pousadas mais simples, onde a uma concentração maior na zona rural, para os que querem paz e sossego. Haverá pousadas espalhadas ao longo de todo o território municipal, que servirão de descanso para aqueles que estão de passagem rápida. Ainda no litoral, na beira do mar existirá vários quiosques para que os moradores e turistas fiquem cada vez mais satisfeitos com o espaço.</p>

      <p>Todos esses pontos comerciais serão abastecidos com a energia fornecida por uma hidroelétrica, sabendo que o Município possui apenas uma usina hidroelétrica, e é suficiente, onde a mesma fica na zona rural e será “abastecida” pelo maior rio da região.</p>
    </div>
    
    <div class="container-fluid box">
      <h3 class="subtitle" id="industrias">Indústrias</h3>
      <p>A sustentabilidade industrial tem sido foco das discussões sobre a temática que envolve questões não apenas ambientais, mas que também visam o crescente lucro, ou de condições favoráveis às indústrias.</p>

      <p>O meio mais utilizado para tornar a indústria sustentável é a adoção de projetos sustentáveis com vistas na geração de energia limpa e renovável, além de medidas de ordens sociais e ambientais que possam ser vantajosas, como por exemplo, permitir a geração de emprego com práticas sustentáveis nas comunidades especializadas em extração de matéria prima nas indústrias. Um outro exemplo de atitude sustentável é a reeducação dos funcionários e o treinamento destes para tornar a produção mais ecologicamente ética.</p>
      
      <p>Quando as indústrias já são sustentáveis, tem-se o cuidado de manter tais medidas e de sempre utilizar um investimento reservado a aplicação de novas técnicas nas suas produções. Um exemplo de indústria sustentável são as que produzem o açúcar e que utilizam do bagaço de cana para a geração de energia, ou aquelas que se referem a produção de cosméticos e de celulose que incentivam não somente o replantio, mas que também criam áreas de reservas intocáveis. A reciclagem e o aproveitamento de todos os materiais, como a utilização hídrica, também representam um interesse comum da sustentabilidade industrial.</p>

      <p>A adoção da sustentabilidade industrial além de ser uma medida ética e produtiva, também ganha um espaço cada vez maior em questão de aceitabilidade dos consumidores.</p>
      
      <p>Sendo assim, nossas indústrias irão funcionar com o auxílio das energias fornecidas no nosso Município, com isso, contribuindo ainda mais para a sustentabilidade do espaço. Em conjunto com a zona rural, serão produzidos produtos alimentícios e têxteis para o abastecimento dos mercados/lojas. Além disso alguns dos produtos, como tecidos de algodão, serão exportados para regiões próximas, favorecendo e fortalecendo o comércio regional e a produção interna.</p>
    </div>

    <div class="container-fluid box">
      <h3 class="subtitle" id="polos">Polos industriais e tecnológicos</h3>
      <p>Os polos industriais tecnológicos irão ficar próximos às universidades, onde elas serão responsáveis por grande parte do avanço tecnológico do Município. Funcionará da seguinte forma: os parques tecnológicos serão instalados em áreas específicas dentro das universidades. As pesquisas e os experimentos serão feitos com ajuda de especialistas naárea da tecnologia em parceria com os alunos, estimulando a iniciação a pesquisa. Nosso objetivo é a criação de novas tecnologias e o surgimento de novas oportunidades de emprego.
      </p>
      <p>Também pretendemos instalar mais parques tecnológicos independentes de universidades, ou seja, serão instalados em locais com pouca movimentação de pessoas, garantindo a possibilidade de um trabalho mais amplo.</p>
    </div>
  </div>
  <a id="back-to-top" href="#" class="btn  btn-lg back-to-top btn-top" role="button" title="Clique para retornar ao topo" data-toggle="tooltip" data-placement="left" style="transition: .2s all;"><span class="glyphicon glyphicon-chevron-up" style="color:white;"></span></a>  
  <script src="../../js/topage.js"></script>
  <script src="../../js/scroll.js"></script>
  <footer class="container-fluid rodape " style="background: rgba(0,0,0,.045); color:#666;text-align: justify;">
      <!-- Linha 1 -->
      <div class="row links">
        <div class="col-sm-12" style="padding: 20px;">
          <small>
            <span class=" glyphicon glyphicon-flag"></span>
            <a href="../../templates/sustentabilidade/sustentabilidade.html" class="linkDesign">Sustentabilidade |</a>
            <a href="../../templates/fontes-energias/solar.html" class="linkDesign">Energia Solar |</a>
            <a href="../../templates/fontes-energias/eolica.html" class="linkDesign">Energia Eólica |</a>
            <a href="../../templates/fontes-energias/biomassa.html" class="linkDesign">Energia da Biomassa |</a>
            <a href="../../templates/fontes-energias/hidreletrica.html" class="linkDesign">Energia Hidrelétrica |</a>
            <a href="../../templates/fontes-energias/nuclear.html" class="linkDesign">Energia Nuclear |</a>
          </small>
          <hr>
        </div>
      </div>
      <!-- Linha2 -->
      <div class="row" style="width:900px; margin: 0 auto">
        <div class="col-sm-6" style="padding: 10px;">
          <p style="font-weight: bold;">Motive-se:</p>
          <p style="border-left: 2px solid rgba(0,0,0,.3);padding:10px;"><i>A base de toda a sustentabilidade é o
              desenvolvimento humano que deve contemplar um melhor relacionamento do homem com os semelhantes e a
              Natureza.</i></p>
          <p style="font-size: 12px;">Essa bela frase foi dita por: <small>Nagib Anderáos Neto</small></p>
          <p style="margin-top: 30px;font-weight: bold;">Município Sustentável e Fontes de Energia</p>
          <small>Clique em algum desses ícones a baixo...</small>
          <br>
          <a href="../../templates/fontes-energias/solar.html" class="linkDesign" title="Energia Solar">
            <img style="height: 50px;margin-top: 15px;margin-bottom: 15px;" src="../../images/icon-solar.png" alt="">
          </a>
  
          <a href="../../templates/fontes-energias/eolica.html" class="linkDesign" title="Energia Eólica">
            <img style="height: 50px;margin-top: 15px;margin-bottom: 15px;margin-left: 10px;" src="../../images/icon-eolic.png"
              alt="">
          </a>
          <a href="../../templates/fontes-energias/biomassa.html" class="linkDesign" title="Biomassa">
            <img style="height: 50px;margin-top: 15px;margin-bottom: 15px;margin-left: 10px;" src="../../images/icon-bio.png"
              alt="">
          </a>
  
          <a href="../../templates/fontes-energias/hidreletrica.html" class="linkDesign" title="Energia Hidrelétrica">
            <img style="height: 50px;margin-top: 15px;margin-bottom: 15px;margin-left: 10px;" src="../../images/icon-water.png"
              alt="">
          </a>
  
          <a href="../../templates/fontes-energias/nuclear.html" class="linkDesign" title="Energia Nuclear">
            <img style="height: 50px;margin-top: 15px;margin-bottom: 15px;margin-left: 10px;" src="../../images/icon-nuclear.png"
              alt="">
          </a>
        </div>
        <div class="col-sm-6 formularioFooter" style="padding: 10px;">
          <p style="margin-top: 10px;font-weight: bold; font-size: 12px;">Instituto Federal de Educação Ciências e
            Tecnologia do Rio Grande do Norte</p>
          <small>Câmpus Natal Zona Norte</small>
          <hr>
          <p style="font-size: 12px;"><b>Compilação do site</b> <br>Amanda Paula, Carlos Vinícius, Davi Sansão, Heloisa
            Ramalho, José Mateus, Júlio Cesar e Raphael Ramos</p>
  
          <p style="font-size: 12px;"><b>Conteúdo</b><br>Todos os que foram envolvidos do segundo periodo acadêmico
            (2017) dos cursos técnicos de Comércio, Eletrônica e Informática para Internet.</p>
        </div>
      </div>
      <!-- Linha 3 Copyright -->
      <div class="row text-center" style="background: #09111d ;padding-top: 10px;padding-bottom: 10px;">
        <div class="col-sm-12">
          <span style="color: #DCDCE2;">Município Sustentável &copy Geografia </span>
        </div>
      </div>
    </footer>
</body>
</html>