<html>
<head>
  <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> -->
  <link rel="stylesheet" type="text/css" href="../../bootstrap/css/bootstrap.css">
  <link rel="stylesheet" href="../../css/style.css">
  <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> -->
  <script src="../../js/jquery-3.2.1.js"></script>
  <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> -->
  <script src="../../bootstrap/js/bootstrap.js"></script>
</head>
<body>
  <style>
    p{text-align: justify;font-size: 20px;}
    .border-image{border-radius: 10px;margin-top: 20px;margin-bottom: 20px;}
    /*Espaçamento de títulos*/
    .title-space-bottom{margin-top: 30px;margin-bottom: 30px;}
    /*Design Legendas*/
    .title-caption{font-weight: bold;}
    @media only screen and (max-width: 610px){.image-box{display:none;}}
    .noticeMain{color:rgba(155,155,155,.6);}
  </style>
  <!-- Header -->
<nav class="navbar navbar-default " role="navigation">
    <div class="container">
      <div class="navbar-header ">
        <a class="navbar-brand" href="../../index.html">
          <img src="../../images/logomarca.png" style="max-width: 170px;height:40px;margin-top: -10px;">
        </a>
        <a href="../../index.html" class="navbar-brand">Município Sustentável</a>
        <button class="navbar-toggle" data-toggle="collapse" data-target="#navbar-container">
          <span class="sr-only">Mostrar e Esconder Menu</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse" id="navbar-container">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="../../index.html">Início</a></li>

          <li role="presentation" class="dropdown">
            <!-- Título Drodpdown -->
            <a class="dropdown-toggle" data-toggle="dropdown" href="#" >O Município<span class="caret"></span></a>
            <!-- Começo da -->
            <ul class="dropdown-menu item-hover">
              <li><a href="../anexos/maquete.html">Anexos do desenvolvimento do Projeto</a></li>
              <li><a href="../../templates/municipio/strategic.html">Todo o Planejamento Estratégico</a></li>
              <li><a href="../../templates/municipio/the+5w2h.html">Elaboração do projeto</a></li>
              <li><a href="../../templates/municipio/perspectives.html">Perspectivas estruturais do Município</a></li>
              <li><a href="../../templates/municipio/services.html">Serviços</a></li>
            </ul>
          </li>

          <li role="presentation" class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#" >Conceitos<span class="caret"></span></a>
            <ul class="dropdown-menu item-hover">
            <li><a href="../../templates/sustentabilidade/cidades-sustentaveis.html" >Cidades Sustentáveis</a></li>
            <li><a href="../../templates/fontes-energias/introducao.html">Introdutório as fontes de Energia</a></li>
            <li><a href="../../templates/sustentabilidade/sustentabilidade.html">Conceito de Sustentabilidade</a></li>
            </ul>
          </li>
          <li role="presentation" class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#" >Cidades e Fontes de Energia<span class="caret"></span></a>
            <ul class="dropdown-menu item-hover">
            <li ><a href="../../templates/fontes-energias/biomassa.html">Biomassa</a></li>
            <li ><a href="../../templates/fontes-energias/eolica.html">Eólica</a></li>
            <li ><a href="../../templates/fontes-energias/hidreletrica.html">Hidrelétrica</a></li>
            <li ><a href="../../templates/fontes-energias/nuclear.html">Nuclear</a></li>
            <li ><a href="../../templates/fontes-energias/solar.html">Solar</a></li>
          </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  </div>
  
  <div class="page-wrap">
    <div class="container-fluid box">
      <div class="jumbotron" style="border-radius:10px;">
        <h2>Planejamento estratégico do município</h2>
        <blockquote>
          <p>“Uma estratégia clara e programas de apoio bem arquitetados podem ser inúteis se a empresa não conseguir implementá-los com cuidado. ”</p>
          <footer>Philip Kotler</footer>
        </blockquote>
        <a href="#chalenge" class="link-scroll link-design"><span class="label label-primary">Missão</span></a>
        <a href="#vision" class="link-scroll link-design"><span class="label label-primary">Visão</span></a>
        <a href="#fatores" class="link-scroll link-design"><span class="label label-primary">Fatores Internos</span></a>
        <a href="#valores" class="link-scroll link-design"><span class="label label-primary">Valores e Cultura</span></a>
        <a href="#externos" class="link-scroll link-design"><span class="label label-primary">Fatores Externos</span></a>
        <a href="#stratec" class="link-scroll link-design"><span class="label label-primary">Objetivos e Estrátégias</span></a>
      </div>
    </div>


    <div class="container-fluid box">
      <h3 class="subtitle" id="chalenge">Missão</h3>
      <p>Proporcionar conforto, qualidade de vida e sustentabilidade à população através do uso consciente da aliança entre tecnologia e preservação do meio ambiente.</p>

      <h3 class="subtitle" id="vision">Visão</h3>
      <p>Tornar-se um Município modelo, inspirando e incentivando outras regiões a seguirem nosso exemplo.</p>  

      <h3 class="subtitle" id="valores">Valores e Cultura</h3>
      <p>Prosperidade, companheirismo, sustentabilidade, zelo, respeito, responsabilidade...</p>
    </div>

    <div class="container-fluid box">
      <div class="row">
        <div class="col-sm-12">
          <h3 class="subtitle" id="fatores">Fatores Internos (Forças e fraquezas)</h3>
        </div>
      </div>
    </div>

    <div class="container-fluid box" style="margin-top: 20px;">
      <div class="row">
        <div class="col-sm-6" title="Clique para saber as forças">
          <button class="botao success" data-toggle="collapse" data-target="#strong" style="width:100%; border:none;">Forças</button>
          <div id="strong" class="collapse" style="margin-top: 10px;">
            <ul>
              <li>Interesse de todas as partes da empresa e fornecedores;</li>
              <li>Profissionais capacitados;</li>
              <li>Modelo de negócio sustentável;</li>
              <li>Materiais que retornarão o custo do investimento inicial;</li>
              <li>Boas oportunidades de estratégias de marketing;</li>
            </ul>
          </div>
        </div>

        <div class="col-sm-6" title="Clique para saber as forças">
          <button class="botao danger" data-toggle="collapse" data-target="#contras" style="width: 100%; border:none;">Fraquezas</button>
          <div id="contras" class="collapse"style="margin-top: 10px;">
            <ul>
              <li>Produto caro, inicialmente e em seu desenvolvimento, onde a manutenção das energias renováveis presentes terão um grande custo;</li>
            </ul>
          </div>
        </div>
      </div>
    </div>

   <div class="container-fluid box" style="margin-top: 30px;">
      <div class="row">
        <div class="col-sm-12">
          <h3 class="subtitle" id="externos">Fatores Externos (Ameaças e Oportunidades)</h3>
        </div>
      </div>
    </div>

    <div class="container-fluid box" style="margin-top: 20px;">
      <div class="row">
        <div class="col-sm-6" title="Clique para saber as forças">
          <button class="botao success" data-toggle="collapse" data-target="#oportunities" style="width:100%; border:none;">Oportunidades</button>
          <div id="oportunities" class="collapse" style="margin-top: 10px;">
            <ul>
              <li>Poucos concorrentes;</li>
              <li>Inovação</li>
              <li>Novas tecnologias sustentáveis;</li>
              <li>Pouca poluição do meio ambiente;</li>
              <li>Crescente onda de conscientização;</li>
              <li>Avanço científico;</li>
              <li>Reduzir o consumo e os gastos dos moradores;</li>
            </ul>
          </div>
        </div>

        <div class="col-sm-6" title="Clique para saber as forças">
          <button class="botao danger" data-toggle="collapse" data-target="#warning" style="width: 100%; border:none;">Ameaças</button>
          <div id="warning" class="collapse" style="margin-top: 10px;">
            <ul>
              <li>Produto restrito a classes sociais com maiores condições;</li>
              <li>Grande risco de acidentes nucleares;</li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="container-fluid box" style="margin-top: 20px;">
      <h3 class="subtitle" id="stratec">Objetivos e Estratégias</h3>
      <hr>
      <p class="well"><b>Objetivo Geral: </b>Criar um Município totalmente planjeado e sustentável.</p>
      <p>Escolha do local adequado: O local escolhido para a construção do Município é litorâneo, para um melhor uso das energias solar e eólica, entretanto também é cortada por um rio e assim poderemos, também, usufruir da energia hidroelétrica. A localidade tem relevo e climas adequados para a prática do turismo, para o uso das energias e para uma moradia agradável, não podemos deixar de citar a parte rural que apresentará as energias nuclear e de biomassa.</p>
      <hr>
      <p>Criar uma cultura ambiental dos moradores: Desde a ideia inicial da Município, seria que a mesma fosse, em sua maior parte, sustentável, desde as energias, até a sua produção. Toda a sustentabilidade vai permanecer em suas leis, nas empresas e escolas, fazendo assim uma cultura de preservação ambiental com os moradores e os turistas. Não podemos deixar de citar o parque ambiental que estará presente nas principais rodovias, fazendo com que os moradores tenham um contato maior com a natureza.</p>
      <hr>
      <p>Aumentar as oportunidades de trabalho: Como terão energias sustentáveis e que precisarão de uma mão-de-obra mais especializada, abrirá uma grande vertente para engenheiros e técnicos. E uma grande renda do local será vindo do turismo, que gerará empregos na área de hotelarias e restaurantes, mas também nas várias empresas que irão estar presentes no território municipal.</p>
      <hr>
      <p>Proporcionar um ambiente saudável para a população: Seguindo nossa missão, onde poderemos proporcionar conforto, qualidade de vida e sustentabilidade à população através do uso consciente da aliança entre tecnologia e preservação do meio ambiente. Visamos revolucionar o bem-estar social, disponibilizando às moradias o acesso ao Wi-Fi dando as ruas um sistema de esgoto anti-enchentes, também arborizando e controlando as praças e espaços públicos.</p>
      <hr>
      <p>Incentivar a igualdade social e segurança aos moradores: No planejamento nós visamos ter dois polos residenciais, focados na classe nobre e média, entretanto, a escola e universidade não terão distinção social. Além disso, as escolas e universidades, apresentarão, em todos os níveis, uma cultura de igualdade e sustentabilidade. E em todos os bairros ocorrerá o patrulhamento 24h em prol da segurança de todos os habitantes do Município.</p>
      <hr>
      <p>Utilizar materiais ambientalmente corretos: A prioridade para a construção das casas, hotéis, indústrias, seria a realização das mesmas com materiais sustentáveis, as escolhas das energias foram pensadas para o menor impacto ambiental possível. A adoção da sustentabilidade industrial além de ser uma medida ética e produtiva, também ganha um espaço cada vez maior em questão de aceitabilidade dos consumidores.</p>
      <hr>
      <p>Utilizar da maneira mais eficiente possível os recursos que dispomos: Um dos principais objetivos de sua elaboração é o uso adequado de suas energias sustentáveis. Uma base para tal plano foi o bairro alemão, localizado em Freiburg, chamado Solar Ship, onde o mesmo possui 59 residências com painéis fotovoltaicos em seus tetos, 11 mil m² de tamanho e consegue produzir quatro vezes mais do que consome. No entanto, além de alimentos agrícolas, a zona rural também irá investir na produção de algodão e ervas medicinais, onde, respectivamente, servirão para indústria têxtil e experimentações no meio científico.</p>
    </div>

  </div>

  <a id="back-to-top" href="#" class="btn  btn-lg back-to-top btn-top" role="button" title="Clique para retornar ao topo" data-toggle="tooltip" data-placement="left" style="transition: .2s all;"><span class="glyphicon glyphicon-chevron-up" style="color:white;"></span></a>  
  <script src="../../js/topage.js"></script>
  <script src="../../js/scroll.js"></script>
  <footer class="container-fluid rodape " style="background: rgba(0,0,0,.045); color:#666;text-align: justify;">
      <!-- Linha 1 -->
      <div class="row links">
        <div class="col-sm-12" style="padding: 20px;">
          <small>
            <span class=" glyphicon glyphicon-flag"></span>
            <a href="../../templates/sustentabilidade/sustentabilidade.html" class="linkDesign">Sustentabilidade |</a>
            <a href="../../templates/fontes-energias/solar.html" class="linkDesign">Energia Solar |</a>
            <a href="../../templates/fontes-energias/eolica.html" class="linkDesign">Energia Eólica |</a>
            <a href="../../templates/fontes-energias/biomassa.html" class="linkDesign">Energia da Biomassa |</a>
            <a href="../../templates/fontes-energias/hidreletrica.html" class="linkDesign">Energia Hidrelétrica |</a>
            <a href="../../templates/fontes-energias/nuclear.html" class="linkDesign">Energia Nuclear |</a>
          </small>
          <hr>
        </div>
      </div>
      <!-- Linha2 -->
      <div class="row" style="width:900px; margin: 0 auto">
        <div class="col-sm-6" style="padding: 10px;">
          <p style="font-weight: bold;">Motive-se:</p>
          <p style="border-left: 2px solid rgba(0,0,0,.3);padding:10px;"><i>A base de toda a sustentabilidade é o
              desenvolvimento humano que deve contemplar um melhor relacionamento do homem com os semelhantes e a
              Natureza.</i></p>
          <p style="font-size: 12px;">Essa bela frase foi dita por: <small>Nagib Anderáos Neto</small></p>
          <p style="margin-top: 30px;font-weight: bold;">Município Sustentável e Fontes de Energia</p>
          <small>Clique em algum desses ícones a baixo...</small>
          <br>
          <a href="../../templates/fontes-energias/solar.html" class="linkDesign" title="Energia Solar">
            <img style="height: 50px;margin-top: 15px;margin-bottom: 15px;" src="../../images/icon-solar.png" alt="">
          </a>
  
          <a href="../../templates/fontes-energias/eolica.html" class="linkDesign" title="Energia Eólica">
            <img style="height: 50px;margin-top: 15px;margin-bottom: 15px;margin-left: 10px;" src="../../images/icon-eolic.png"
              alt="">
          </a>
          <a href="../../templates/fontes-energias/biomassa.html" class="linkDesign" title="Biomassa">
            <img style="height: 50px;margin-top: 15px;margin-bottom: 15px;margin-left: 10px;" src="../../images/icon-bio.png"
              alt="">
          </a>
  
          <a href="../../templates/fontes-energias/hidreletrica.html" class="linkDesign" title="Energia Hidrelétrica">
            <img style="height: 50px;margin-top: 15px;margin-bottom: 15px;margin-left: 10px;" src="../../images/icon-water.png"
              alt="">
          </a>
  
          <a href="../../templates/fontes-energias/nuclear.html" class="linkDesign" title="Energia Nuclear">
            <img style="height: 50px;margin-top: 15px;margin-bottom: 15px;margin-left: 10px;" src="../../images/icon-nuclear.png"
              alt="">
          </a>
        </div>
        <div class="col-sm-6 formularioFooter" style="padding: 10px;">
          <p style="margin-top: 10px;font-weight: bold; font-size: 12px;">Instituto Federal de Educação Ciências e
            Tecnologia do Rio Grande do Norte</p>
          <small>Câmpus Natal Zona Norte</small>
          <hr>
          <p style="font-size: 12px;"><b>Compilação do site</b> <br>Amanda Paula, Carlos Vinícius, Davi Sansão, Heloisa
            Ramalho, José Mateus, Júlio Cesar e Raphael Ramos</p>
  
          <p style="font-size: 12px;"><b>Conteúdo</b><br>Todos os que foram envolvidos do segundo periodo acadêmico
            (2017) dos cursos técnicos de Comércio, Eletrônica e Informática para Internet.</p>
        </div>
      </div>
      <!-- Linha 3 Copyright -->
      <div class="row text-center" style="background: #09111d ;padding-top: 10px;padding-bottom: 10px;">
        <div class="col-sm-12">
          <span style="color: #DCDCE2;">Município Sustentável &copy Geografia </span>
        </div>
      </div>
    </footer>
</body>
</html>