<html>
<head>
  <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> -->
  <link rel="stylesheet" type="text/css" href="../../bootstrap/css/bootstrap.css">
  <link rel="stylesheet" href="../../css/style.css">
  <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> -->
  <script src="../../js/jquery-3.2.1.js"></script>
  <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> -->
  <script src="../../bootstrap/js/bootstrap.js"></script>
</head>
<body>
  <style>
    p{text-align: justify;font-size: 20px;}
    .border-image{border-radius: 10px;margin-top: 20px;margin-bottom: 20px;}
    /*Espaçamento de títulos*/
    .title-space-bottom{margin-top: 30px;margin-bottom: 30px;}
    /*Design Legendas*/
    @media only screen and (max-width: 610px){.image-box{display:none;}}
    .noticeMain{color:rgba(155,155,155,.6);}
  </style>
  <!-- Header -->
<nav class="navbar navbar-default " role="navigation">
    <div class="container">
      <div class="navbar-header ">
        <a class="navbar-brand" href="../../index.html">
          <img src="../../images/logomarca.png" style="max-width: 170px;height:40px;margin-top: -10px;">
        </a>
        <a href="../../index.html" class="navbar-brand">Município Sustentável</a>
        <button class="navbar-toggle" data-toggle="collapse" data-target="#navbar-container">
          <span class="sr-only">Mostrar e Esconder Menu</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse" id="navbar-container">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="../../index.html">Início</a></li>

          <li role="presentation" class="dropdown">
            <!-- Título Drodpdown -->
            <a class="dropdown-toggle" data-toggle="dropdown" href="#" >O Município<span class="caret"></span></a>
            <!-- Começo da -->
            <ul class="dropdown-menu item-hover">
              <li><a href="../anexos/maquete.html">Anexos do desenvolvimento do Projeto</a></li>
              <li><a href="../../templates/municipio/strategic.html">Todo o Planejamento Estratégico</a></li>
              <li><a href="../../templates/municipio/the+5w2h.html">Elaboração do projeto</a></li>
              <li><a href="../../templates/municipio/perspectives.html">Perspectivas estruturais do Município</a></li>
              <li><a href="../../templates/municipio/services.html">Serviços</a></li>
            </ul>
          </li>

          <li role="presentation" class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#" >Conceitos<span class="caret"></span></a>
            <ul class="dropdown-menu item-hover">
            <li><a href="../../templates/sustentabilidade/cidades-sustentaveis.html" >Cidades Sustentáveis</a></li>
            <li><a href="../../templates/fontes-energias/introducao.html">Introdutório as fontes de Energia</a></li>
            <li><a href="../../templates/sustentabilidade/sustentabilidade.html">Conceito de Sustentabilidade</a></li>
            </ul>
          </li>
          <li role="presentation" class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#" >Cidades e Fontes de Energia<span class="caret"></span></a>
            <ul class="dropdown-menu item-hover">
            <li ><a href="../../templates/fontes-energias/biomassa.html">Biomassa</a></li>
            <li ><a href="../../templates/fontes-energias/eolica.html">Eólica</a></li>
            <li ><a href="../../templates/fontes-energias/hidreletrica.html">Hidrelétrica</a></li>
            <li ><a href="../../templates/fontes-energias/nuclear.html">Nuclear</a></li>
            <li ><a href="../../templates/fontes-energias/solar.html">Solar</a></li>
          </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="page-wrap">
    <div class="container-fluid box" style="margin-bottom: 25px;">
      <h2 class="titleMain">Energia Eólica</h2>
        <a href="#aplication" class="link-scroll link-design">Aplicabilidade da energia eólica |</a>
        <a href="#func" class="link-scroll link-design">Funcionamento </a>
    </div>

    <div class="container-fluid box">
      <p>A energia eólica é produzida a partir da energia gerada pelos ventos, para que sua produção seja realizada, grandes parques eólicos são instalados principalmente em zonas costeiras, o que é um dos pontos negativos, já que muito espaço é utilizado para o funcionamento, além disto, estas áreas não permitem habitações nas proximidades. Em contrapartida, estes parques permitem que milhares de empregos sejam gerados, trazendo os olhares de grandes produtores como EUA, China e Espanha, para investimentos desta natureza em regiões propícias, como a área litorânea do Nordeste brasileiro, grande produtora desta fonte de energia.</p>
    </div>

    <!-- Padrão de bordas para as imagens: border-image -->
    <div class="container-fluid text-center box">
      <center>
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
          <ol class="carousel-indicators">
          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#myCarousel" data-slide-to="1"></li>
          </ol>
          <!-- Wrapper for slides -->
        <div class="carousel-inner">
          <div class="item active">
            <img src="../../images/eolica1.jpg" title="Imagem anexada de: http://www.canalbioenergia.com.br/brasil-foi-o-quarto-pais-em-crescimento-de-energia-eolica-em-2015/" style="width:100%; height: 500px;">
          </div>
          <div class="item" title="Imagem anexada de: https://www.megacurioso.com.br/fotografia/55558-motion-uma-coletanea-de-10-gifs-que-vai-encher-seus-olhos.htm">
            <img src="../../images/eolica2.gif" style="width:100%; height: 500px;">
            </div>
        </div>
        <!-- Left and right controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right"></span>
          <span class="sr-only">Next</span>
        </a>
        </div>
      </center>
      <hr>
      <small class="caption"><span class="title-caption">Legenda:</span> Slideshow apresentando algumas exemplificações de sistema eólicos</small> 
    </div>

    <div class="container-fluid box">
      <h3 id = "aplication" class="subtitle">Aplicabilidade da Energia eólica</h3>
      <p>Além disto, a energia eólica faz parte do time das fontes limpas e inesgotáveis de energia apesar de todos os potenciais, a energia eólica juntamente a outras fontes limpas, só correspondem a pouco mais de 2% da matriz energética mundial, segundo International Energy Agency, no ano de 2002.Para que o funcionamento desta energia, segundo o portal energia, o vento forte é capaz de rodar as pás de uma turbina. Um aerogerador comunica com um eixo central e este, por sua vez, é acoplado a uma caixa multiplicadora (Gearbox) onde a velocidade de rotação é incrementada, segundo características específicas de cada fabricante. Os aerogeradores possuem um sistema capaz de controlar a velocidade do rotor de forma a manter uma velocidade estável com a variação da velocidade do vento. os mais elevados e for demasiado forte, impede a rotação muito rápida do aerogerador. O gerador ligado ao transmissor mecânico produz energia elétrica.</p>
    </div>

    <div class="container-fluid box">
      <h3 id="func" class="subtitle">Sistema de Funcionamento</h3>
      <blockquote>
        <p>A energia eólica provém da radiação solar uma vez que os ventos são gerados pelo aquecimento não uniforme da superfície terrestre. Uma estimativa da energia total disponível dos ventos ao redor do planeta pode ser feita a partir da hipótese de que, aproximadamente, 2% da energia solar absorvida pela Terra é convertida em energia cinética dos ventos. Este percentual, embora pareça pequeno, representa centena de vezes a potência anual instalada nas centrais elétricas do mundo. </p>
        <footer>Centro de Referência para Energia Solar e Eólica Sérgio de Salvo Brito (CRESESB)</footer>
      </blockquote>
      <p>Trata-se de um sistema bem básico em que o vento gira as élices, que pelo trabalho realizado, acabam giram sobre o o seu eixo, que se liga a um gerador, produzindo eletricidade (devido a corrente elétrica que surge a partir de um multiplicador de velocidade das élices. Acabando por girar cerca de 1500 vezes por minuto). O gerador é composto basicamente por dois ímãs que, ao girar um sobre outro, produzem carga elétrica. Essa carga é então direcionada para uma estação de armazenamento, que funciona como uma bateria muito grande (no caso de sistemas isolados), ou é distribuída pela rede elétrica (no caso de sistemas integrados à rede).</p>
    </div>

    <div class="container-fluid box">
        <center>
          <img src="../../images/eolica3.gif" style="width:100%; height: 500px;">
          <hr>
          <small><span class="title-caption">Representação: </span class="title-caption"> Sistema éolico. <br><i>Gif anexado do site Saber Elétrica (https://www.sabereletrica.com.br/vantagens-e-desvantagens-da-energia-eolica/)</i></small>
        </center>
    </div>
  </div>
  <script src="../../js/scroll.js"></script>
  <a id="back-to-top" href="#" class="btn  btn-lg back-to-top btn-top" role="button" title="Clique para retornar ao topo" data-toggle="tooltip" data-placement="left" style="transition: .2s all;"><span class="glyphicon glyphicon-chevron-up" style="color:white;"></span></a>  
  <footer class="container-fluid rodape " style="background: rgba(0,0,0,.045); color:#666;text-align: justify;">
      <!-- Linha 1 -->
      <div class="row links">
        <div class="col-sm-12" style="padding: 20px;">
          <small>
            <span class=" glyphicon glyphicon-flag"></span>
            <a href="../../templates/sustentabilidade/sustentabilidade.html" class="linkDesign">Sustentabilidade |</a>
            <a href="../../templates/fontes-energias/solar.html" class="linkDesign">Energia Solar |</a>
            <a href="../../templates/fontes-energias/eolica.html" class="linkDesign">Energia Eólica |</a>
            <a href="../../templates/fontes-energias/biomassa.html" class="linkDesign">Energia da Biomassa |</a>
            <a href="../../templates/fontes-energias/hidreletrica.html" class="linkDesign">Energia Hidrelétrica |</a>
            <a href="../../templates/fontes-energias/nuclear.html" class="linkDesign">Energia Nuclear |</a>
          </small>
          <hr>
        </div>
      </div>
      <!-- Linha2 -->
      <div class="row" style="width:900px; margin: 0 auto">
        <div class="col-sm-6" style="padding: 10px;">
          <p style="font-weight: bold;">Motive-se:</p>
          <p style="border-left: 2px solid rgba(0,0,0,.3);padding:10px;"><i>A base de toda a sustentabilidade é o
              desenvolvimento humano que deve contemplar um melhor relacionamento do homem com os semelhantes e a
              Natureza.</i></p>
          <p style="font-size: 12px;">Essa bela frase foi dita por: <small>Nagib Anderáos Neto</small></p>
          <p style="margin-top: 30px;font-weight: bold;">Município Sustentável e Fontes de Energia</p>
          <small>Clique em algum desses ícones a baixo...</small>
          <br>
          <a href="../../templates/fontes-energias/solar.html" class="linkDesign" title="Energia Solar">
            <img style="height: 50px;margin-top: 15px;margin-bottom: 15px;" src="../../images/icon-solar.png" alt="">
          </a>
  
          <a href="../../templates/fontes-energias/eolica.html" class="linkDesign" title="Energia Eólica">
            <img style="height: 50px;margin-top: 15px;margin-bottom: 15px;margin-left: 10px;" src="../../images/icon-eolic.png"
              alt="">
          </a>
          <a href="../../templates/fontes-energias/biomassa.html" class="linkDesign" title="Biomassa">
            <img style="height: 50px;margin-top: 15px;margin-bottom: 15px;margin-left: 10px;" src="../../images/icon-bio.png"
              alt="">
          </a>
  
          <a href="../../templates/fontes-energias/hidreletrica.html" class="linkDesign" title="Energia Hidrelétrica">
            <img style="height: 50px;margin-top: 15px;margin-bottom: 15px;margin-left: 10px;" src="../../images/icon-water.png"
              alt="">
          </a>
  
          <a href="../../templates/fontes-energias/nuclear.html" class="linkDesign" title="Energia Nuclear">
            <img style="height: 50px;margin-top: 15px;margin-bottom: 15px;margin-left: 10px;" src="../../images/icon-nuclear.png"
              alt="">
          </a>
        </div>
        <div class="col-sm-6 formularioFooter" style="padding: 10px;">
          <p style="margin-top: 10px;font-weight: bold; font-size: 12px;">Instituto Federal de Educação Ciências e
            Tecnologia do Rio Grande do Norte</p>
          <small>Câmpus Natal Zona Norte</small>
          <hr>
          <p style="font-size: 12px;"><b>Compilação do site</b> <br>Amanda Paula, Carlos Vinícius, Davi Sansão, Heloisa
            Ramalho, José Mateus, Júlio Cesar e Raphael Ramos</p>
  
          <p style="font-size: 12px;"><b>Conteúdo</b><br>Todos os que foram envolvidos do segundo periodo acadêmico
            (2017) dos cursos técnicos de Comércio, Eletrônica e Informática para Internet.</p>
        </div>
      </div>
      <!-- Linha 3 Copyright -->
      <div class="row text-center" style="background: #09111d ;padding-top: 10px;padding-bottom: 10px;">
        <div class="col-sm-12">
          <span style="color: #DCDCE2;">Município Sustentável &copy Geografia </span>
        </div>
      </div>
    </footer>
</body>
</html>