<html>
<head>
  <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> -->
  <link rel="stylesheet" type="text/css" href="../../bootstrap/css/bootstrap.css">
  <link rel="stylesheet" href="../../css/style.css">
  <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> -->
  <script src="../../js/jquery-3.2.1.js"></script>
  <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> -->
  <script src="../../bootstrap/js/bootstrap.js"></script>
</head>
<body>
  <style>
    p{text-align: justify;}
    .border-image{border-radius: 10px;margin-top: 20px;margin-bottom: 20px;}
    /*Espaçamento de títulos*/
    .title-space-bottom{margin-top: 30px;margin-bottom: 30px;}
    /*Design Legendas*/
    .title-caption{font-weight: bold;}
    @media only screen and (max-width: 610px){.image-box{display:none;}}
    .noticeMain{color:rgba(155,155,155,.6);}
  </style>
  <!-- Header -->
<nav class="navbar navbar-default " role="navigation">
    <div class="container">
      <div class="navbar-header ">
        <a class="navbar-brand" href="../../index.html">
          <img src="../../images/logomarca.png" style="max-width: 170px;height:40px;margin-top: -10px;">
        </a>
        <a href="../../index.html" class="navbar-brand">Município Sustentável</a>
        <button class="navbar-toggle" data-toggle="collapse" data-target="#navbar-container">
          <span class="sr-only">Mostrar e Esconder Menu</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse" id="navbar-container">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="../../index.html">Início</a></li>

          <li role="presentation" class="dropdown">
            <!-- Título Drodpdown -->
            <a class="dropdown-toggle" data-toggle="dropdown" href="#" >O Município<span class="caret"></span></a>
            <!-- Começo da -->
            <ul class="dropdown-menu item-hover">
              <li><a href="../anexos/maquete.html">Anexos do desenvolvimento do Projeto</a></li>
              <li><a href="../../templates/municipio/strategic.html">Todo o Planejamento Estratégico</a></li>
              <li><a href="../../templates/municipio/the+5w2h.html">Elaboração do projeto</a></li>
              <li><a href="../../templates/municipio/perspectives.html">Perspectivas estruturais do Município</a></li>
              <li><a href="../../templates/municipio/services.html">Serviços</a></li>
            </ul>
          </li>

          <li role="presentation" class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#" >Conceitos<span class="caret"></span></a>
            <ul class="dropdown-menu item-hover">
            <li><a href="../../templates/sustentabilidade/cidades-sustentaveis.html" >Cidades Sustentáveis</a></li>
            <li><a href="../../templates/fontes-energias/introducao.html">Introdutório as fontes de Energia</a></li>
            <li><a href="../../templates/sustentabilidade/sustentabilidade.html">Conceito de Sustentabilidade</a></li>
            </ul>
          </li>
          <li role="presentation" class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#" >Cidades e Fontes de Energia<span class="caret"></span></a>
            <ul class="dropdown-menu item-hover">
            <li ><a href="../../templates/fontes-energias/biomassa.html">Biomassa</a></li>
            <li ><a href="../../templates/fontes-energias/eolica.html">Eólica</a></li>
            <li ><a href="../../templates/fontes-energias/hidreletrica.html">Hidrelétrica</a></li>
            <li ><a href="../../templates/fontes-energias/nuclear.html">Nuclear</a></li>
            <li ><a href="../../templates/fontes-energias/solar.html">Solar</a></li>
          </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="page-wrap">
    <div class="container-fluid box" style="margin-bottom: 25px;">
      <h2 class="titleMain">Energia Nuclear</h2>
      <a href="#thisw" class="link-scroll link-design">Conceito |</a>
      <a href="#impacts" class="link-scroll link-design">Impactos Ambientais de Energia Nuclear |</a>
      <a href="#p" class="link-scroll link-design">Aspectos positivos |</a>
      <a href="#n" class="link-scroll link-design">Aspectos negativos |</a>
      <a href="#f" class="link-scroll link-design">Funcionamento</a>
    </div>

    <div class="container-fluid box">
      <h3 id = "thisw" class="subtitle">Conceito</h3>
      <p>A energia nuclear, também chamada atômica, é obtida a partir da fissão do núcleo do átomo de urânio enriquecido, liberando uma grande quantidade de energia. A energia nuclear mantém unidas as partículas do núcleo de um átomo. A divisão desse núcleo em duas partes provoca a liberação de grande quantidade de energia. No fim da década de 1960, o governo brasileiro começou a desenvolver o Programa Nuclear Brasileiro, destinado a implantar no país a produção de energia atômica. O país possui a central nuclear Almirante Álvaro Alberto, constituída por três unidades (Angra 1, Angra 2, e Angra 3). Está instalada no município de Angra dos Reis, no estado do Rio de Janeiro. Atualmente, apenas Angra 2 está em funcionamento.</p>
    </div>

    <div class="container-fluid box">
      <h3 id = "impacts" class="subtitle">Impactos Ambientais da Energia Nuclear</h3>
      <p> Os riscos da utilização da energia nuclear são imensos. Além de sua utilização para fins não pacíficos produção de bomba atômica e para obtenção de poderio militar, representa um enorme perigo para a humanidade, em decorrência de acidentes nucleares, do lixo nuclear (resíduos compostos de elementos radioativos, gerados nos processos de produção de energia), da contaminação do meio ambiente que provocam danos irreversíveis à saúde, como o câncer, a leucemia, deformidades genéticas etc.</p>
      <p>Desde o primeiro acidente, registrado em 1952 em Chalk River, no Canadá, ocorreram muitos outros. Um dos mais graves foi o Acidente de Chernobyl, que ocorreu na Ucrânia em 1986, que explodiu devido a uma falha do sistema de refrigeração.O mais recente foi em 2011 na usina Fukushima 1, na costa leste do Japão, que foi atingida pelo terremoto e pelo tsunami que abalou a região. Houve explosão nos prédios que abrigavam dois reatores o que provocou a liberação da radiação.</p>
    </div>

    <div class="container-fluid box" title="Imagem anexada do Site Energia Nuclear (https://pt.energia-nuclear.net/acidentes-nucleares/chalk-river.html)">
      <center>
        <img src="../../images/river.jpg" class="img-responsive" style="border-radius:10px; height: 300px;width: 100%;" alt="">
        <hr style="width: 80%;">
        <small><span class="title-caption">Representação: </span> Primeira catastrofe pela energia nuclear, Chalk River (Canadá)</small>
      </center>
    </div>

    <div class="container-fluid box" style="border-bottom: 1px solid #e5e5e5">
      <h3 id = "p" class="subtitle">Aspectos positivos</h3>
      <p>As reservas de energia nuclear são muito maiores que as reservas de combustíveis fósseis; Comparada às usinas de combustíveis fósseis, a usina nuclear requer menores áreas, As usinas nucleares possibilitam maior independência energética para os países importadores de petróleo e gás, Não contribui para o efeito estufa.</p>
    </div>

    <div class="container-fluid box" style="border-bottom: 1px solid #e5e5e5">
      <h3 id = "n" class="subtitle">Aspectos Negativos</h3>
      <p>Os custos de construção e operação das usinas são muito altos, possibilidade de construção de armas nucleares, destinação do lixo atômico, acidentes que resultam em liberação de material radioativo, o plutônio 239 leva 24.000 anos para ter sua radioatividade reduzida à metade, e cerca de 50.000 anos para tornar-se inócuo.</p>
    </div>

    <div class="container-fluid box">
      <h3 id = "f" class="subtitle">Princípio de Funcionamento</h3>
      <p>A energia Atômica é obtida através do calor que se desprende dos átomos de máteria fissionada</p>
      <div class="jumbotron">
        <h4>O que é um átomo?</h4>
        <p style="font-size: 12px;">É a menor quantidade de uma substância simples que tem as proporções químicas do elemento e que permanece inalterada em uma transformação química. O átomo é formado principalmente por um núcleo composto de prótons e nêutrons e de elétrons,que giram em órbitas elípticas em volta do núcleo. </p>
        <center>
          <div class="image-responsive" title="GIF Anexado do site http://bestanimations.com/Science/Chemistry/Chemistry.html"><img src="../../images/atom.gif"></div>
          <small><b class="title-caption">Átomo: </b> Uma das representações do que seria um átomo (As bolinhas que estão em movimento são os elétrons negativos enquanto a bola maior é o núcleo.)</small>
        </center>
      </div>
      <p>A fissão do átomo acontece quando o seu núcleo é partido. Os núcleos são partidos mediante o choque de um nêutron. Para a fissão nuclear empregam-se átomos que tenham em seu núcleo muitos prótons e nêutrons,tornando-se assim, mais fácil rompe-los. É o caso do urânio 235 e do plutônio 239. O objetivo de se partir o núcleo dos átomos é aproveitar a energia calorífica que se desprende em consequência do seu rompimento. É no reator nuclear onde ocorre a fissão dos núcleos de um átomo, originando-se a reação em cadeia. Da fissão desprendem-se dois ou três nêutrons rápidos que, por sua vez e com velocidade adequadamente reduzida, rompem dois novos núcleos, que desprendem outros tantos nêutrons e, assim sucessivamente. </p>
      <p>Do rompimento dos núcleos desprende-se grande quantidade de energia que vai aquecer um reservatório de água fechado (circuito primário). Por sua vez o vapor d’água vai aquecer outro reservatório de água (circuito secundário), finalmente esse vapor vai mover a turbina. A turbina realiza o seu trabalho fazendo girar o eixo do gerador que produz a energia elétrica</p>
    </div>
    <div class="container-fluid box">
      <center>
        <img src="../../images/nuclearFuncao.gif" title="Imagem anexada de http://gifimage.net/energia-nuclear-gif-10/" class="img-responsive" style="border-radius:10px;height:600px;  width: 100%;" alt="">
        <hr style="width: 70%;">
        <small><b class="title-caption">Representação: </b> Funcionamento de um reator Nuclear</small>
      </center>
    </div>
  </div>
  <script src="../../js/scroll.js"></script>
  <a id="back-to-top" href="#" class="btn  btn-lg back-to-top btn-top" role="button" title="Clique para retornar ao topo" data-toggle="tooltip" data-placement="left" style="transition: .2s all;"><span class="glyphicon glyphicon-chevron-up" style="color:white;"></span></a>  
  <script src="../../js/topage.js"></script>
  <footer class="container-fluid rodape " style="background: rgba(0,0,0,.045); color:#666;text-align: justify;">
      <!-- Linha 1 -->
      <div class="row links">
        <div class="col-sm-12" style="padding: 20px;">
          <small>
            <span class=" glyphicon glyphicon-flag"></span>
            <a href="../../templates/sustentabilidade/sustentabilidade.html" class="linkDesign">Sustentabilidade |</a>
            <a href="../../templates/fontes-energias/solar.html" class="linkDesign">Energia Solar |</a>
            <a href="../../templates/fontes-energias/eolica.html" class="linkDesign">Energia Eólica |</a>
            <a href="../../templates/fontes-energias/biomassa.html" class="linkDesign">Energia da Biomassa |</a>
            <a href="../../templates/fontes-energias/hidreletrica.html" class="linkDesign">Energia Hidrelétrica |</a>
            <a href="../../templates/fontes-energias/nuclear.html" class="linkDesign">Energia Nuclear |</a>
          </small>
          <hr>
        </div>
      </div>
      <!-- Linha2 -->
      <div class="row" style="width:900px; margin: 0 auto">
        <div class="col-sm-6" style="padding: 10px;">
          <p style="font-weight: bold;">Motive-se:</p>
          <p style="border-left: 2px solid rgba(0,0,0,.3);padding:10px;"><i>A base de toda a sustentabilidade é o
              desenvolvimento humano que deve contemplar um melhor relacionamento do homem com os semelhantes e a
              Natureza.</i></p>
          <p style="font-size: 12px;">Essa bela frase foi dita por: <small>Nagib Anderáos Neto</small></p>
          <p style="margin-top: 30px;font-weight: bold;">Município Sustentável e Fontes de Energia</p>
          <small>Clique em algum desses ícones a baixo...</small>
          <br>
          <a href="../../templates/fontes-energias/solar.html" class="linkDesign" title="Energia Solar">
            <img style="height: 50px;margin-top: 15px;margin-bottom: 15px;" src="../../images/icon-solar.png" alt="">
          </a>
  
          <a href="../../templates/fontes-energias/eolica.html" class="linkDesign" title="Energia Eólica">
            <img style="height: 50px;margin-top: 15px;margin-bottom: 15px;margin-left: 10px;" src="../../images/icon-eolic.png"
              alt="">
          </a>
          <a href="../../templates/fontes-energias/biomassa.html" class="linkDesign" title="Biomassa">
            <img style="height: 50px;margin-top: 15px;margin-bottom: 15px;margin-left: 10px;" src="../../images/icon-bio.png"
              alt="">
          </a>
  
          <a href="../../templates/fontes-energias/hidreletrica.html" class="linkDesign" title="Energia Hidrelétrica">
            <img style="height: 50px;margin-top: 15px;margin-bottom: 15px;margin-left: 10px;" src="../../images/icon-water.png"
              alt="">
          </a>
  
          <a href="../../templates/fontes-energias/nuclear.html" class="linkDesign" title="Energia Nuclear">
            <img style="height: 50px;margin-top: 15px;margin-bottom: 15px;margin-left: 10px;" src="../../images/icon-nuclear.png"
              alt="">
          </a>
        </div>
        <div class="col-sm-6 formularioFooter" style="padding: 10px;">
          <p style="margin-top: 10px;font-weight: bold; font-size: 12px;">Instituto Federal de Educação Ciências e
            Tecnologia do Rio Grande do Norte</p>
          <small>Câmpus Natal Zona Norte</small>
          <hr>
          <p style="font-size: 12px;"><b>Compilação do site</b> <br>Amanda Paula, Carlos Vinícius, Davi Sansão, Heloisa
            Ramalho, José Mateus, Júlio Cesar e Raphael Ramos</p>
  
          <p style="font-size: 12px;"><b>Conteúdo</b><br>Todos os que foram envolvidos do segundo periodo acadêmico
            (2017) dos cursos técnicos de Comércio, Eletrônica e Informática para Internet.</p>
        </div>
      </div>
      <!-- Linha 3 Copyright -->
      <div class="row text-center" style="background: #09111d ;padding-top: 10px;padding-bottom: 10px;">
        <div class="col-sm-12">
          <span style="color: #DCDCE2;">Município Sustentável &copy Geografia </span>
        </div>
      </div>
    </footer>
</body>
</html>