<html>
<head>
  <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> -->
  <link rel="stylesheet" type="text/css" href="../../bootstrap/css/bootstrap.css">
  <link rel="stylesheet" href="../../css/style.css">
  <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> -->
  <script src="../../js/jquery-3.2.1.js"></script>
  <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> -->
  <script src="../../bootstrap/js/bootstrap.js"></script>
</head>
<body>
  <style>
    p{text-align: justify;font-size: 20px;}
    .border-image{border-radius: 10px;margin-top: 20px;margin-bottom: 20px;}
    /*Espaçamento de títulos*/
    .title-space-bottom{margin-top: 30px;margin-bottom: 30px;}
    /*Design Legendas*/
    .title-caption{font-weight: bold;}
    @media only screen and (max-width: 610px){.image-box{display:none;}}
    .noticeMain{color:rgba(155,155,155,.6);}
  </style>
  <!-- Header -->
 <nav class="navbar navbar-default " role="navigation">
    <div class="container">
      <div class="navbar-header ">
        <a class="navbar-brand" href="../../index.html">
          <img src="../../images/logomarca.png" style="max-width: 170px;height:40px;margin-top: -10px;">
        </a>
        <a href="../../index.html" class="navbar-brand">Município Sustentável</a>
        <button class="navbar-toggle" data-toggle="collapse" data-target="#navbar-container">
          <span class="sr-only">Mostrar e Esconder Menu</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse" id="navbar-container">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="../../index.html">Início</a></li>

          <li role="presentation" class="dropdown">
            <!-- Título Drodpdown -->
            <a class="dropdown-toggle" data-toggle="dropdown" href="#" >O Município<span class="caret"></span></a>
            <!-- Começo da -->
            <ul class="dropdown-menu item-hover">
              <li><a href="../anexos/maquete.html">Anexos do desenvolvimento do Projeto</a></li>
              <li><a href="../anexos/maquete.html">Anexos do desenvolvimento do Projeto</a></li>
              <li><a href="../../templates/municipio/strategic.html">Todo o Planejamento Estratégico</a></li>
              <li><a href="../../templates/municipio/the+5w2h.html">Elaboração do projeto</a></li>
              <li><a href="../../templates/municipio/perspectives.html">Perspectivas estruturais do Município</a></li>
              <li><a href="../../templates/municipio/services.html">Serviços</a></li>
            </ul>
          </li>

          <li role="presentation" class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#" >Conceitos<span class="caret"></span></a>
            <ul class="dropdown-menu item-hover">
            <li><a href="../../templates/sustentabilidade/cidades-sustentaveis.html" >Cidades Sustentáveis</a></li>
            <li><a href="../../templates/fontes-energias/introducao.html">Introdutório as fontes de Energia</a></li>
            <li><a href="../../templates/sustentabilidade/sustentabilidade.html">Conceito de Sustentabilidade</a></li>
            </ul>
          </li>
          <li role="presentation" class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#" >Cidades e Fontes de Energia<span class="caret"></span></a>
            <ul class="dropdown-menu item-hover">
            <li ><a href="../../templates/fontes-energias/biomassa.html">Biomassa</a></li>
            <li ><a href="../../templates/fontes-energias/eolica.html">Eólica</a></li>
            <li ><a href="../../templates/fontes-energias/hidreletrica.html">Hidrelétrica</a></li>
            <li ><a href="../../templates/fontes-energias/nuclear.html">Nuclear</a></li>
            <li ><a href="../../templates/fontes-energias/solar.html">Solar</a></li>
          </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="page-wrap">
    <div class="container-fluid box" style="margin-bottom: 25px;">
      <h2 class="titleMain">Energia Solar</h2>
      <a href="#tec" class="link-scroll link-design">Principais tecnologias da Energia Solar |</a>
      <a href="#methodes" class="link-scroll link-design">Os métodos de captura da Energia solar |</a>
    </div>

    <div class="container-fluid box">
      <p>A energia solar se divide em duas, sendo elas, energia solar concentrada, ou também conhecida como energia hipotérmica e a energia fotovoltaica.</p>
      <p>No primeiro caso a energia absorvida pelas placas, ou seja, a radiação solar absorvida é convertida em calor transferindo tal calor para um fluido que pode ser água, ar, ou óleo, etc. Os coletores possuem uma superfície refletora que redireciona a radiação para um foco específico, onde está localizado o receptor. Por fim, após absorvido o calor, o fluido escapa pelo receptor.</p>
      <p>No segundo caso, a radiação solar é convertida direto em energia elétrica, por meio dos chamados semicondutores, que são configurados em elementos denominados células fotovoltaicas. Os semicondutores feitos de silício são os mais usados na construção das células e o seu rendimento possível razoável é, atualmente, de cerca de 25-30%. Uma vez que cada célula produz uma corrente contínua de intensidade relativamente fraca, procede-se à sua associação para obter, após encapsulamento, um conjunto denominado módulo fotovoltaico. Por fim, O agrupamento de módulos, colocados numa mesma estrutura de suporte, forma um painel. Quando incide luz solar com energia suficiente sobre estas estruturas, produz-se uma corrente de electrões, obtendo-se assim energia eléctrica utilizável.</p>
    </div>

    <!-- Padrão de bordas para as imagens: border-image -->
    <div class="container-fluid text-center box">
      <center>
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
          <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
          </ol>
          <!-- Wrapper for slides -->
          <div class="carousel-inner">
            <div class="item active" title="Imagem anexada de http://www.solarwaters.pt/producao-de-energia-microgeracao/sistema-fotovoltaico-microgeracao">
              <img src="../../images/coletor.jpg" style="width:100%; height:500px;">
            </div>
            <div class="item" title="Imagem anexada de http://www.zarafalcao.com.br/energia-solar.html">
              <img src="../../images/sistema.gif" style="width:100%; height:500px;">
            </div>
            <div class="item" title="Imagem anexada de http://energiaheliotermica.gov.br/sites/energia-heliotermica.org.br/files/public/pictures/1.01.ciclo_sem_armazenamento.png">
              <img src="../../images/heliotermico.png" style="width:100%; height:500px;">
              </div>
          </div>
          <!-- Left and right controls -->
          <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </center>
      <hr>
      <small class="caption"><span class="title-caption">Legenda:</span> Slideshow representando sistemas solares</small>  
    </div>
   
    <div class="container-fluid box">
      <h2 id = "tec" class="subtitle">Principais tecnologias da energia solar</h2>
      <p>Existem as mais variadas formas de aproveitar a energia solar como uma fonte de energia renovável.As principais tecnologias utilizadas são as seguintes:</p>
    </div>

    <div class="container-fluid box">
      <h4 class="well">Energia Solar térmica</h4>
      <p>Nestes sistemas, a energia é captada através de painéis solares térmicos, também chamados de coletores solares. São os sistemas mais simples, econômicos e conhecidos de aproveitar o sol, sendo utilizados em casas, hotéis e empresas para o aquecimento de água para chuveiros ou piscinas, aquecimentos de ambientes ou até em processos industriais. Os painéis são simples e têm a função de transferir o calor da radiação solar para a água ou óleo que passa por dentro deles para então ser utilizado como fonte de calor.</p>
      <hr>
      <h4 class="well">Coletor Solar</h4>
      <p>Estes sistemas são capazes de gerar energia elétrica através das chamadas células fotovoltaicas. As células fotovoltaicas são geralmente montadas em módulos ou painéis solares fotovoltaicos e são capazes de transformar a radiação solar diretamente em energia elétrica através do chamado “efeito fotovoltaico”, presente em alguns materiais, sendo o mais utilizado o silício.</p>
      <hr>
      <h4 class="well">Energia Solar Heliotérmica</h4>
      <p>Também conhecida como Concentrating Solar Power (CSP), é o processo de uso e acúmulo do calor proveniente dos raios solares. Para que isso aconteça, espelhos são usados para refletir a luz solar e concentrá-la num único ponto, onde há um receptor. Dessa forma, grande quantidade de calor é acumulada e usada tanto para processos industriais que demandam altas temperaturas como para gerar eletricidade.</p>
      <p><b>A geração elétrica heliotérmica acontece de forma indireta:</b> antes de virar energia elétrica, o calor do Sol é captado e armazenado para, depois, ser transformado em energia mecânica e, por fim, em eletricidade. O calor captado aquece um líquido que passa pelo receptor, chamado de Fluido Térmico. Esse líquido armazena o calor e serve para aquecer a água dentro da usina e gerar vapor. A partir daí, a usina heliotérmica segue os mesmos processos de uma usina termoelétrica: o vapor gerado movimenta uma turbina e aciona um gerador, produzindo, assim, energia elétrica.</p>
      <hr>
      <h4 class="well">Energia Solar fotovoltaica</h4>
      <p>Energia fotovoltaica é a energia elétrica produzida a partir de luz solar, e pode ser produzida mesmo em dias nublados ou chuvosos. Quanto maior for a radiação solar maior será a quantidade de eletricidade produzida.</p>
      <p>O processo de conversão da energia solar utiliza células fotovoltaicas (Normalmente feitas de silício ou outro material semicondutor). Quando a luz solar incide sobre uma célula fotovoltaica, os elétrons do material semicondutor são postos em movimento, desta forma gerando eletricidade.</p>
      <p>A energia fotovoltaica é uma tecnologia 100% comprovada. Sistemas fotovoltaicos conectados à rede elétrica já são utilizados há mais de 30 anos.</p>
      <hr>
      <h4 class="well">Energia Termossolar</h4>
      <p>Os sistemas termossolares produzem inicialmente calor, através de um sistema de espelhos (ou concentradores) que concentram a radiação solar, e só então transformam este calor em energia elétrica. Não deixam de ser um tipo de energia solar térmica, porém o seu propósito final é gerar energia elétrica. Este é o tipo menos difundido de energia solar devido ao alto custo e complexidade.</p>
      <p>Comparando os três sistemas, a energia solar térmica é a mais eficiente e econômica, sendo, porém, restrita a energia térmica que não é capaz de acender uma lâmpada, por exemplo. Já a energia fotovoltaica é muito versátil e confiável, sendo utilizada até mesmo em satélites. Sua principal desvantagem é o alto custo, apesar da constante queda de preços. Uma segunda desvantagem é a dificuldade de armazenar a energia. Finalmente, a energia solar concentrada que também tem restrições devido ao alto custo, é mais adequada para grandes instalações. Por outro lado, ela une vantagens da energia solar térmica, por possibilitar a armazenagem do calor, enquanto também apresenta a versatilidade da energia elétrica.</p>
      <hr>
    </div>

    <div class="container-fluid box">
      <h2 id = "methodes" class="subtitle">Os métodos de captura da energia solar</h2>
      <p>São discriminados como diretos ou indiretos e podem ser classificados também como passivos ou ativos:</p>
      <h4>Direto: </h4>
      <p>São os métodos que precisam de apenas uma etapa para capturar a energia do sol e transformá-la em energia que pode ser utilizada pelos homens. Exemplo: Energia Solar Fotovoltaica - a energia solar atinge uma célula fotovoltaica criando eletricidade.</p>
      <hr>
      <h4>Indireto: </h4>
      <p>São os métodos que precisam de duas ou mais etapas para converter a energia solar em energia utilizável por nós. Um bom exemplo de um método indireto é a energia heliotérmica onde a energia solar atinge os espelhos refletores que por sua vez concentram o calor em um tubo a vácuo por onde passa água e, esta, quanto tiver sido transformada em vapor alimentará uma turbina para gerar energia elétrica.</p>
      <hr>
      <h4>Sistemas passivos e ativos de Energia Solar</h4>
      <p>Os sistemas passivos de energia solar são normalmente diretos (como uma estufa que transfere o calor do sol para o ar, mantendo o ambiente quente), já os sistemas ativos de energia solar, funcionam com o auxílio de dispositivos mecânicos para melhorar o desempenho da coleta da energia solar (como um tipo de sistema de aquecimento solar que utiliza uma bomba para forçar a circulação de água dentro do sistema).</p>
    </div>
  </div>
  <script src="../../js/scroll.js"></script>
  <a id="back-to-top" href="#" class="btn  btn-lg back-to-top btn-top" role="button" title="Clique para retornar ao topo" data-toggle="tooltip" data-placement="left" style="transition: .2s all;"><span class="glyphicon glyphicon-chevron-up" style="color:white;"></span></a>  
  <script src="../../js/topage.js"></script>
  <footer class="container-fluid rodape " style="background: rgba(0,0,0,.045); color:#666;text-align: justify;">
      <!-- Linha 1 -->
      <div class="row links">
        <div class="col-sm-12" style="padding: 20px;">
          <small>
            <span class=" glyphicon glyphicon-flag"></span>
            <a href="../../templates/sustentabilidade/sustentabilidade.html" class="linkDesign">Sustentabilidade |</a>
            <a href="../../templates/fontes-energias/solar.html" class="linkDesign">Energia Solar |</a>
            <a href="../../templates/fontes-energias/eolica.html" class="linkDesign">Energia Eólica |</a>
            <a href="../../templates/fontes-energias/biomassa.html" class="linkDesign">Energia da Biomassa |</a>
            <a href="../../templates/fontes-energias/hidreletrica.html" class="linkDesign">Energia Hidrelétrica |</a>
            <a href="../../templates/fontes-energias/nuclear.html" class="linkDesign">Energia Nuclear |</a>
          </small>
          <hr>
        </div>
      </div>
      <!-- Linha2 -->
      <div class="row" style="width:900px; margin: 0 auto">
        <div class="col-sm-6" style="padding: 10px;">
          <p style="font-weight: bold;">Motive-se:</p>
          <p style="border-left: 2px solid rgba(0,0,0,.3);padding:10px;"><i>A base de toda a sustentabilidade é o
              desenvolvimento humano que deve contemplar um melhor relacionamento do homem com os semelhantes e a
              Natureza.</i></p>
          <p style="font-size: 12px;">Essa bela frase foi dita por: <small>Nagib Anderáos Neto</small></p>
          <p style="margin-top: 30px;font-weight: bold;">Município Sustentável e Fontes de Energia</p>
          <small>Clique em algum desses ícones a baixo...</small>
          <br>
          <a href="../../templates/fontes-energias/solar.html" class="linkDesign" title="Energia Solar">
            <img style="height: 50px;margin-top: 15px;margin-bottom: 15px;" src="../../images/icon-solar.png" alt="">
          </a>
  
          <a href="../../templates/fontes-energias/eolica.html" class="linkDesign" title="Energia Eólica">
            <img style="height: 50px;margin-top: 15px;margin-bottom: 15px;margin-left: 10px;" src="../../images/icon-eolic.png"
              alt="">
          </a>
          <a href="../../templates/fontes-energias/biomassa.html" class="linkDesign" title="Biomassa">
            <img style="height: 50px;margin-top: 15px;margin-bottom: 15px;margin-left: 10px;" src="../../images/icon-bio.png"
              alt="">
          </a>
  
          <a href="../../templates/fontes-energias/hidreletrica.html" class="linkDesign" title="Energia Hidrelétrica">
            <img style="height: 50px;margin-top: 15px;margin-bottom: 15px;margin-left: 10px;" src="../../images/icon-water.png"
              alt="">
          </a>
  
          <a href="../../templates/fontes-energias/nuclear.html" class="linkDesign" title="Energia Nuclear">
            <img style="height: 50px;margin-top: 15px;margin-bottom: 15px;margin-left: 10px;" src="../../images/icon-nuclear.png"
              alt="">
          </a>
        </div>
        <div class="col-sm-6 formularioFooter" style="padding: 10px;">
          <p style="margin-top: 10px;font-weight: bold; font-size: 12px;">Instituto Federal de Educação Ciências e
            Tecnologia do Rio Grande do Norte</p>
          <small>Câmpus Natal Zona Norte</small>
          <hr>
          <p style="font-size: 12px;"><b>Compilação do site</b> <br>Amanda Paula, Carlos Vinícius, Davi Sansão, Heloisa
            Ramalho, José Mateus, Júlio Cesar e Raphael Ramos</p>
  
          <p style="font-size: 12px;"><b>Conteúdo</b><br>Todos os que foram envolvidos do segundo periodo acadêmico
            (2017) dos cursos técnicos de Comércio, Eletrônica e Informática para Internet.</p>
        </div>
      </div>
      <!-- Linha 3 Copyright -->
      <div class="row text-center" style="background: #09111d ;padding-top: 10px;padding-bottom: 10px;">
        <div class="col-sm-12">
          <span style="color: #DCDCE2;">Município Sustentável &copy Geografia </span>
        </div>
      </div>
    </footer>
</body>
</html>