<html>
<head>
  <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> -->
  <link rel="stylesheet" type="text/css" href="../../bootstrap/css/bootstrap.css">
  <link rel="stylesheet" href="../../css/style.css">
  <link rel="stylesheet" href="../../css/lightbox.css">
  <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> -->
  <script src="../../js/jquery-3.2.1.js"></script>
  <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> -->
  <script src="../../bootstrap/js/bootstrap.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">

</head>
<body >
  <style>
    p{text-align: justify;font-size: 20px;}
    .border-image{border-radius: 10px;margin-top: 20px;margin-bottom: 20px;}
    /*Espaçamento de títulos*/
    .title-space-bottom{margin-top: 30px;margin-bottom: 30px;}
    /*Design Legendas*/
    @media only screen and (max-width: 610px){.image-box{display:none;}}
    .noticeMain{color:rgba(155,155,155,.6);}
  </style>
  <!-- Header -->
<nav class="navbar navbar-default " role="navigation">
    <div class="container">
      <div class="navbar-header ">
        <a class="navbar-brand" href="../../index.html">
          <img src="../../images/logomarca.png" style="max-width: 170px;height:40px;margin-top: -10px;">
        </a>
        <a href="../../index.html" class="navbar-brand">Município Sustentável</a>
        <button class="navbar-toggle" data-toggle="collapse" data-target="#navbar-container">
          <span class="sr-only">Mostrar e Esconder Menu</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse" id="navbar-container">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="../../index.html">Início</a></li>

          <li role="presentation" class="dropdown">
            <!-- Título Drodpdown -->
            <a class="dropdown-toggle" data-toggle="dropdown" href="#" >O Município<span class="caret"></span></a>
            <!-- Começo da -->
            <ul class="dropdown-menu item-hover">
              <li><a href="../anexos/maquete.html">Anexos do desenvolvimento do Projeto</a></li>
              <li><a href="../../templates/municipio/strategic.html">Todo o Planejamento Estratégico</a></li>
              <li><a href="../../templates/municipio/the+5w2h.html">Elaboração do projeto</a></li>
              <li><a href="../../templates/municipio/perspectives.html">Perspectivas estruturais do Município</a></li>
              <li><a href="../../templates/municipio/services.html">Serviços</a></li>
            </ul>
          </li>

          <li role="presentation" class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#" >Conceitos<span class="caret"></span></a>
            <ul class="dropdown-menu item-hover">
            <li><a href="../../templates/sustentabilidade/cidades-sustentaveis.html" >Cidades Sustentáveis</a></li>
            <li><a href="../../templates/fontes-energias/introducao.html">Introdutório as fontes de Energia</a></li>
            <li><a href="../../templates/sustentabilidade/sustentabilidade.html">Conceito de Sustentabilidade</a></li>
            </ul>
          </li>
          <li role="presentation" class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#" >Cidades e Fontes de Energia<span class="caret"></span></a>
            <ul class="dropdown-menu item-hover">
            <li ><a href="../../templates/fontes-energias/biomassa.html">Biomassa</a></li>
            <li ><a href="../../templates/fontes-energias/eolica.html">Eólica</a></li>
            <li ><a href="../../templates/fontes-energias/hidreletrica.html">Hidrelétrica</a></li>
            <li ><a href="../../templates/fontes-energias/nuclear.html">Nuclear</a></li>
            <li ><a href="../../templates/fontes-energias/solar.html">Solar</a></li>
          </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="page-wrap">
    <div class="container-fluid " title="Imagem anexada de http://construtoratraumer.com.br/sustentabilidade/">
      <div class="parallax container-fluid box text-center" style="border-radius: 10px;padding-top: 80px;">
        <h2 style="font-family: Oswald;">SEJA BEM VINDO(A) A GALERIA</h2>
        <p style="font-family: Oswald; font-size: 18px;text-align: center;opacity:.7;">Encontre todos os anexos do projeto por aqui... Incluíndo o desenvolvimento da maquete e outras atividades. Veja que todos trabalharam muito.</p>
      </div>
    </div>
      
    <!-- Imagem desconhecida https://placehold.it/150x80?text=IMAGE -->

    <div class="container-fluid bg-3 text-center box">    
      <div class="row" >
        <div class="col-sm-6">
          <img src="../../images/eletronica/eletro1.jpg" class="img-responsive" style="width:100%; height: 300px;" alt="Image" onclick="openModal();currentSlide(1)" class="hover-shadow">
        </div>
        <div class="col-sm-6">
          <img src="../../images/eletronica/eletro2.jpg" class="img-responsive" style="width:100%; height: 300px;" alt="Image" onclick="openModal();currentSlide(2)" class="hover-shadow">
        </div>
      </div>

      <div class="row" style="margin-top: 10px;">
        <div class="col-sm-6">
          <img src="../../images/eletronica/eletro3.jpg" class="img-responsive" style="width:100%; height: 300px;" alt="Image" onclick="openModal();currentSlide(3)" class="hover-shadow">
        </div>
        <div class="col-sm-6">
          <img src="../../images/eletronica/eletro4.jpg" class="img-responsive" style="width:100%; height: 300px;" alt="Image" onclick="openModal();currentSlide(4)" class="hover-shadow">
        </div>
      </div>

      <div class="row" style="margin-top: 10px;">
        <div class="col-sm-6">
          <img src="../../images/eletronica/eletro5.jpg" class="img-responsive" style="width:100%; height: 300px;" alt="Image" onclick="openModal();currentSlide(5)" class="hover-shadow">
        </div>
        <div class="col-sm-6">
          <img src="../../images/eletronica/eletro6.jpg" class="img-responsive" style="width:100%; height: 300px;" alt="Image" onclick="openModal();currentSlide(6)" class="hover-shadow">
        </div>
      </div>

      <div class="row" style="margin-top: 10px">
        <div class="col-sm-6">
          <img src="../../images/informatica/image-info4.jpg" class="img-responsive" style="width:100%; height: 300px;" alt="Image" onclick="openModal();currentSlide(7)" class="hover-shadow">
        </div>
        <div class="col-sm-6">
          <img src="../../images/informatica/image-info5.jpg" class="img-responsive" style="width:100%; height: 300px;" alt="Image" onclick="openModal();currentSlide(8)" class="hover-shadow">
        </div>
      </div>

      <div class="row" style="margin-top: 10px">
        <div class="col-sm-6">
          <img src="../../images/informatica/image-info6.jpg" class="img-responsive" style="width:100%; height: 300px;" alt="Image" onclick="openModal();currentSlide(9)" class="hover-shadow">
        </div>

        <div class="col-sm-6">
          <img src="../../images/maquete/maquete1.jpg" class="img-responsive" style="width:100%; height: 300px;" alt="Image" onclick="openModal();currentSlide(10)" class="hover-shadow">
        </div>
      </div>


      <div class="row" style="margin-top: 10px">
        <div class="col-sm-6">
          <img src="../../images/maquete/maquete2.jpg" class="img-responsive" style="width:100%; height: 300px;" alt="Image" onclick="openModal();currentSlide(11)" class="hover-shadow">
        </div>

        <div class="col-sm-6">
          <img src="../../images/maquete/maquete3.jpg" class="img-responsive" style="width:100%; height: 300px;" alt="Image" onclick="openModal();currentSlide(12)" class="hover-shadow">
        </div>
      </div>

      <!-- Exclusiva para o destaque das imagens -->
      <div id="myModal" class="modal">
        <span class="close cursor" onclick="closeModal()">&times;</span>
        <div class="modal-content">
          <div class="mySlides">
            <div class="numbertext">1 de 12</div>
            <img src="../../images/eletronica/eletro1.jpg" style="width: 100%;">
          </div>

          <div class="mySlides">
            <div class="numbertext">2 de 12</div>
            <img src="../../images/eletronica/eletro2.jpg" style="width: 100%;">
          </div>

          <div class="mySlides">
            <div class="numbertext">3 de 12</div>
            <img src="../../images/eletronica/eletro3.jpg" style="width: 100%;">
          </div>

          <div class="mySlides">
            <div class="numbertext">4 de 12</div>
            <img src="../../images/eletronica/eletro4.jpg" style="width: 100%;">
          </div>

          <div class="mySlides">
            <div class="numbertext">5 de 12</div>
            <img src="../../images/eletronica/eletro5.jpg" style="width: 100%;">
          </div>

          <div class="mySlides">
            <div class="numbertext">6 de 12</div>
            <img src="../../images/eletronica/eletro6.jpg" style="width: 100%;">
          </div>

          <div class="mySlides">
            <div class="numbertext">7 de 12</div>
            <img src="../../images/informatica/image-info4.jpg" style="width: 100%; height: 100vh;">
          </div>


          <div class="mySlides">
            <div class="numbertext">8 de 12</div>
            <img src="../../images/informatica/image-info5.jpg" style="width: 100%;height: 100vh;">
          </div>


          <div class="mySlides">
            <div class="numbertext">9 de 12</div>
            <img src="../../images/informatica/image-info6.jpg" style="width: 100%;height: 100vh;">
          </div>

          <div class="mySlides">
            <div class="numbertext">10 de 12</div>
            <img src="../../images/maquete/maquete1.jpg" style="width: 100%;height: 100vh;">
          </div>

          <div class="mySlides">
            <div class="numbertext">11 de 12</div>
            <img src="../../images/maquete/maquete2.jpg" style="width: 100%;height: 100vh;">
          </div>
          
          <div class="mySlides">
            <div class="numbertext">12 de 12</div>
            <img src="../../images/maquete/maquete3.jpg" style="width: 100%;height: 100vh;">
          </div>

          <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
          <a class="next" onclick="plusSlides(1)">&#10095;</a>
        </div>
      </div>
      <div class="container-fluid " >
      <div class="container-fluid box text-center" style="border-radius: 10px;padding-top: 80px;">
        <h2 style="font-family: Oswald;">À TODOS QUE PARTICIPARAM DO PROJETO</h2>
        <p style="font-family: Oswald; font-size: 18px;text-align: center;opacity:.7;">Parabéns a todos os envolvidos pela contribuição que cada um deu para o desenvolvimento do Município sustentável.</p>
      </div>
    </div>
    </div>
  
  </div>
  <a id="back-to-top" href="#" class="btn  btn-lg back-to-top btn-top" role="button" title="Clique para retornar ao topo" data-toggle="tooltip" data-placement="left" style="transition: .2s all;"><span class="glyphicon glyphicon-chevron-up" style="color:white;"></span></a> 
  <script src="../../js/lboxscript.js"></script>
  <script src="../../js/topage.js"></script>
 
  <footer class="container-fluid rodape " style="background: rgba(0,0,0,.045); color:#666;text-align: justify;">
      <!-- Linha 1 -->
      <div class="row links">
        <div class="col-sm-12" style="padding: 20px;">
          <small>
            <span class=" glyphicon glyphicon-flag"></span>
            <a href="../../templates/sustentabilidade/sustentabilidade.html" class="linkDesign">Sustentabilidade |</a>
            <a href="../../templates/fontes-energias/solar.html" class="linkDesign">Energia Solar |</a>
            <a href="../../templates/fontes-energias/eolica.html" class="linkDesign">Energia Eólica |</a>
            <a href="../../templates/fontes-energias/biomassa.html" class="linkDesign">Energia da Biomassa |</a>
            <a href="../../templates/fontes-energias/hidreletrica.html" class="linkDesign">Energia Hidrelétrica |</a>
            <a href="../../templates/fontes-energias/nuclear.html" class="linkDesign">Energia Nuclear |</a>
          </small>
          <hr>
        </div>
      </div>
      <!-- Linha2 -->
      <div class="row" style="width:900px; margin: 0 auto">
        <div class="col-sm-6" style="padding: 10px;">
          <p style="font-weight: bold;">Motive-se:</p>
          <p style="border-left: 2px solid rgba(0,0,0,.3);padding:10px;"><i>A base de toda a sustentabilidade é o
              desenvolvimento humano que deve contemplar um melhor relacionamento do homem com os semelhantes e a
              Natureza.</i></p>
          <p style="font-size: 12px;">Essa bela frase foi dita por: <small>Nagib Anderáos Neto</small></p>
          <p style="margin-top: 30px;font-weight: bold;">Município Sustentável e Fontes de Energia</p>
          <small>Clique em algum desses ícones a baixo...</small>
          <br>
          <a href="../../templates/fontes-energias/solar.html" class="linkDesign" title="Energia Solar">
            <img style="height: 50px;margin-top: 15px;margin-bottom: 15px;" src="../../images/icon-solar.png" alt="">
          </a>
  
          <a href="../../templates/fontes-energias/eolica.html" class="linkDesign" title="Energia Eólica">
            <img style="height: 50px;margin-top: 15px;margin-bottom: 15px;margin-left: 10px;" src="../../images/icon-eolic.png"
              alt="">
          </a>
          <a href="../../templates/fontes-energias/biomassa.html" class="linkDesign" title="Biomassa">
            <img style="height: 50px;margin-top: 15px;margin-bottom: 15px;margin-left: 10px;" src="../../images/icon-bio.png"
              alt="">
          </a>
  
          <a href="../../templates/fontes-energias/hidreletrica.html" class="linkDesign" title="Energia Hidrelétrica">
            <img style="height: 50px;margin-top: 15px;margin-bottom: 15px;margin-left: 10px;" src="../../images/icon-water.png"
              alt="">
          </a>
  
          <a href="../../templates/fontes-energias/nuclear.html" class="linkDesign" title="Energia Nuclear">
            <img style="height: 50px;margin-top: 15px;margin-bottom: 15px;margin-left: 10px;" src="../../images/icon-nuclear.png"
              alt="">
          </a>
        </div>
        <div class="col-sm-6 formularioFooter" style="padding: 10px;">
          <p style="margin-top: 10px;font-weight: bold; font-size: 12px;">Instituto Federal de Educação Ciências e
            Tecnologia do Rio Grande do Norte</p>
          <small>Câmpus Natal Zona Norte</small>
          <hr>
          <p style="font-size: 12px;"><b>Compilação do site</b> <br>Amanda Paula, Carlos Vinícius, Davi Sansão, Heloisa
            Ramalho, José Mateus, Júlio Cesar e Raphael Ramos</p>
  
          <p style="font-size: 12px;"><b>Conteúdo</b><br>Todos os que foram envolvidos do segundo periodo acadêmico
            (2017) dos cursos técnicos de Comércio, Eletrônica e Informática para Internet.</p>
        </div>
      </div>
      <!-- Linha 3 Copyright -->
      <div class="row text-center" style="background: #09111d ;padding-top: 10px;padding-bottom: 10px;">
        <div class="col-sm-12">
          <span style="color: #DCDCE2;">Município Sustentável &copy Geografia </span>
        </div>
      </div>
    </footer>
</body>
</html>